@import '../settings/variables';

// MIXINS Version

@mixin bg-light {
	background: $light;
}

@mixin bg-dark {
	background: $dark;
}

@mixin bg-blue {
	background: $blue;
}

@mixin bg-red {
	background: $red;
}

@mixin bg-yellow {
	background: $yellow;
}

@mixin bg-green {
	background: $green;
}

@mixin bg-disabled {
	background: $disabled;
}