@import '../settings/variables';

@mixin text-dark-primary {
	color: rgba(#000, 0.87);
}

@mixin text-dark-secondary {
	color: rgba(#000, 0.54);
}

@mixin text-dark-disabled {
	color: rgba(#000, 0.38);
}

@mixin text-dark-dividers {
	color: rgba(#000, 0.12);
}

@mixin text-light-primary {
	color: rgba(#FFF, 1);
}

@mixin text-light-secondary {
	color: rgba(#FFF, 0.70);
}

@mixin text-light-disabled {
	color: rgba(#FFF, 0.50);
}

@mixin text-light-dividers {
	color: rgba(#FFF, 0.12);
}


@mixin text-display-4 {
    font-size: 7rem; /* 112sp */
    line-height: 7rem; /* 112sp */
    font-weight: 300;
    letter-spacing: -.04em;
}

@mixin text-display-3 {
    font-size: 3.5rem; /* 56px */
    line-height: 3.5rem; /* 56px */
    font-weight: 400;
    letter-spacing: -.02em;
}

@mixin text-display-2 {
    font-size: 2.813rem; /* 45px */
    line-height: 3rem; /* 48px */
    font-weight: 400;
    letter-spacing: normal;
}

@mixin text-display-1 {
    font-size: 2.125rem; /* 34sp */
    line-height: 2.5rem; /* 40sp */
    font-weight: 400;
    letter-spacing: normal;
}

@mixin text-headline {
    font-size: 1.5rem; /* 24sp */
    line-height: 2rem; /* 32sp */
    font-weight: 400;
    letter-spacing: normal;
}

@mixin text-title {
    font-size: 1.25rem; /* 20sp */
    line-height: 2rem; /* 32sp */
    font-weight: 500;
    letter-spacing: .02em;
}

@mixin text-subheading-2 {
    font-size: 1rem; /* 16sp */
    line-height: 1.75rem; /* 28sp */
    font-weight: 400;
    letter-spacing: .04em;
}

@mixin text-subheading-1 {
    font-size: .938rem; /* 15sp */
    line-height: 1.5rem; /* 24sp */
    font-weight: 400;
    letter-spacing: .04em;
}

@mixin text-body-2 {
    font-size: .875rem; /* 14sp */
    line-height: 1.5rem; /* 24sp */
    font-weight: 500;
    letter-spacing: .04em;
}

@mixin text-body-1 {
    font-size: .875rem; /* 14sp */
    line-height: 1.25rem; /* 20sp */
    font-weight: 400;
    letter-spacing: .04em;
}

@mixin text-caption {
    font-size: .75rem; /* 12sp */
    line-height: 1.25rem; /* 20sp */
    font-weight: 400;
    letter-spacing: .08em;
}