@mixin xsmall-screen {
	@media all and (min-width: 0) {
		@content;
	}
}

@mixin small-screen {
	@media all and (min-width: 600px) {
		@content;
	}
}

@mixin medium-screen {
	@media all and (min-width: 960px) {
		@content;
	}
}

@mixin large-screen {
	@media all and (min-width: 1280px) {
		@content;
	}
}