$mdc-theme-primary: #2cc990;
$mdc-theme-primary-light: #6dfdc0;
$mdc-theme-primary-dark: #009762;

$mdc-theme-secondary: #ff785f;
$mdc-theme-secondary-light: #ffaa8d;
$mdc-theme-secondary-dark: #c74834;

$mdc-theme-background: #ffffff;
