<template>
  <md-dialog
    :md-open-from="location"
    :md-close-to="location"
    @close="reset"
    ref="dialog">
    <md-dialog-title>Create Pet</md-dialog-title>

    <md-dialog-content style="width: 30rem;">
      <form @submit.prevent>
        <md-input-container :class="{ 'md-input-invalid': errors.name}">
          <label>Name</label>
          <md-input v-model="inputs.name" />
          <span class="md-error" v-text="errors.name" />
        </md-input-container>

        <md-input-container :class="{ 'md-input-invalid': errors.species}">
          <label>Species</label>
          <md-input v-model="inputs.species" />
          <span class="md-error" v-text="errors.species" />
        </md-input-container>

        <md-input-container :class="{ 'md-input-invalid': errors.breed}">
          <label>Breed</label>
          <md-input v-model="inputs.breed" />
          <span class="md-error" v-text="errors.breed" />
        </md-input-container>

        <div>
          <md-subheader style="padding: 0;">Gender</md-subheader>
          <div>
            <md-radio v-model="inputs.gender" md-value="1">Male</md-radio>
          </div>
          <div>
            <md-radio v-model="inputs.gender" md-value="2">Female</md-radio>
          </div>
          <span class="md-error" v-text="errors.gender" />
        </div>

        <div>
          <md-subheader style="padding: 0;">Birthday</md-subheader>
          <div style="display: flex; align-items: center;">
            <md-input-container
              style="width: auto; margin-right: 1rem;"
              :class="{ 'md-input-invalid': errors.birthday}">
              <md-select v-model="inputs.month" style="width: auto;">
                <md-option
                  v-for="(month,index) in months"
                  :value="(index + 1).toString()"
                  :key="index">{{ month }}</md-option>
              </md-select>
              <span class="md-error" v-text="errors.birthday" />
            </md-input-container>
            <md-input-container
              style="width: 3rem; margin-right: 1rem;"
              :class="{ 'md-input-invalid': errors.birthday}">
              <label>Day</label>
              <md-input v-model="inputs.day" />
            </md-input-container>
            <md-input-container
              style="width: 5rem;"
              :class="{ 'md-input-invalid': errors.birthday}">
              <label>Year</label>
              <md-input v-model="inputs.year" />
            </md-input-container>
          </div>
        </div>

        <md-input-container
          style="width: 6rem;"
          :class="{ 'md-input-invalid': errors.weight}">
          <label>Weight (kg)</label>
          <md-input v-model="inputs.weight" />
          <span class="md-error" v-text="errors.weight" />
        </md-input-container>
      </form>
    </md-dialog-content>

    <md-dialog-actions>
      <md-button @click="$refs.dialog.close()">Cancel</md-button>
      <md-button class="md-primary" @click="submit">Create</md-button>
    </md-dialog-actions>
  </md-dialog>
</template>

<script>
  import EventBus from '../EventBus';
  import PetRepository from '../../repositories/Pet';
  import omit from 'lodash/omit';

  export default {
    mounted () {
      EventBus.$on('create-pet', this.create)
    },

    data () {
      return {
        id: '',
        location: '',

        inputs: {
          name: '',

          species: '',
          breed: '',
          gender: '',

          // Birthday
          month: '1',
          day: '',
          year: '',

          weight: ''
        },

        errors: {
          name: '',
          species: '',
          breed: '',
          gender: '',
          birthday: '',
          weight: ''
        },

        loading: false
      }
    },

    computed: {
      months () {
        return [
          'January',
          'February',
          'March',
          'April',
          'May',
          'June',
          'July',
          'August',
          'September',
          'October',
          'November',
          'December'
        ];
      },

      formData () {
        let inputs = Object.assign({}, this.inputs, {
          birthday: this.inputs.year + '-' + this.inputs.month + '-' + this.inputs.day,
          species: this.inputs.species === 'other' ? this.inputs.other : this.inputs.species,
          customer_id: this.id
        })

        return omit(inputs, ['day', 'month', 'year', 'other'])
      }
    },

    methods: {
      create (id, location) {
        this.id = id
        this.location = location
        this.$nextTick(() => {
          this.$refs.dialog.open()
        })
      },

      submit () {
        if (! this.loading) {
          this.loading = true

          PetRepository.create(this.formData)
            .then((pet) => {
              this.loading = false

              this.$root.$refs.snackbar.show({
                message: 'Pet created'
              })

              this.$emit('created', pet)

              this.$refs.dialog.close()
            }).catch((errors) => {
              this.errors = errors
              this.loading = false
            })
        }
      },

      reset () {
        Object.assign(this.$data, this.$options.data)
      },
    },
  }

</script>
