<template>
  <div class="flex">
    <section class="profile">
      <div class="profile__image">
        <img src="https://placeimg.com/200/200/animals">
      </div>

      <div class="profile__body">
        <div class="profile__name">{{ pet.name }}</div>

        <ul class="profile__meta">
          <li class="meta">
            <div class="meta__property">Owner</div>
            <div class="meta__content">
              <router-link
                v-text="owner"
                :to="{ name: 'customer', params: { id: pet.customer.id} }" />
            </div>
          </li>
          <li class="meta">
            <div class="meta__property">Species</div>
            <div class="meta__content">{{ pet.species }}</div>
          </li>

          <li class="meta">
            <div class="meta__property">Breed</div>
            <div class="meta__content">{{ pet.breed }}</div>
          </li>

          <li class="meta">
            <div class="meta__property">Gender</div>
            <div class="meta__content">{{ pet.gender }}</div>
          </li>

          <li class="meta">
            <div class="meta__property">Birthday</div>
            <div class="meta__content">{{ pet.birthday }}</div>
          </li>

          <li class="meta">
            <div class="meta__property">Weight</div>
            <div class="meta__content">{{ pet.weight }}</div>
          </li>
        </ul>
      </div>
    </section>

    <section class="view">
      <router-view></router-view>
    </section>
  </div>
</template>

<script>
  import PetRepository from '../../repositories/Pet';

  export default {
    beforeRouteEnter (to, from, next) {
      PetRepository.fetch(to.params.id).then((pet) => {
        next(vm => {
          vm.pet = pet
        })
      })
    },

    data () {
      return {
        pet: {
          customer: {
            id: ''
          }
        }
      }
    },

    computed: {
      view() {
        return this.$route.meta.view
      },

      owner() {
        let customer = this.pet.customer
        return `${customer.firstname} ${customer.middlename} ${customer.lastname}`;
      }
    },
  }
</script>


<style lang="scss" scoped>
  #app-main {
    padding: 0;
  }

  .profile {
    width: 30%;
    height: 100%;
    background: #fff;
    display: flex;
    overflow-y: hidden;
    flex-direction: column;
  }
    .profile__image {
      flex-shrink: 0;
      position: relative;
      overflow: hidden;

      &:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: 56.25%;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
      }
    }
    .profile__body {
      flex: 1 1 auto;
      overflow-y: auto;
      padding: 1rem 2rem;
    }
      .profile__name {
        font-size: 1.5rem;
      }
      .profile__meta {
        list-style: none;
        margin: 1rem 0 0;
        padding: 0;
      }

  .view {
    width: 70%;
    min-height: 100%;
    overflow-y: auto;
    padding: 1.5rem;
  }
</style>
