<template>
  <div>
    <md-list id="settings-nav">
      <router-link
        tag="md-list-item"
        active-class="md-list-item--active"
        :to="{ name: 'settings-procedures' }">
        <router-link
          :to="{ name: 'settings-procedures'}"
          active-class=""
          v-text="'Procedures'" />
        <md-ink-ripple />
      </router-link>
      <router-link
        tag="md-list-item"
        active-class="md-list-item--active"
        :to="{ name: 'settings-treatments' }">
        <router-link
          :to="{ name: 'settings-treatments'}"
          active-class=""
          v-text="'Treatments'" />
        <md-ink-ripple />
      </router-link>
      <router-link
        tag="md-list-item"
        active-class="md-list-item--active"
        :to="{ name: 'settings-cages' }">
        <router-link
          :to="{ name: 'settings-cages'}"
          active-class=""
          v-text="'Cages'" />
        <md-ink-ripple />
      </router-link>
    </md-list>

    <div id="settings-view">
      <router-view />
    </div>
  </div>
</template>

<style lang="scss" scoped>
  #app-main {
    display: flex;
    padding: 0;
  }

  #settings-nav {
    width: 20%;
  }

  #settings-view {
    width: 80%;
    height: 100%;
    overflow-y: auto;
    padding: 0 1.5rem 1.5rem;
  }
</style>
