<template>
  <div>
    <md-subheader>Procedures</md-subheader>
    <md-list class="procedures">
      <md-list-item
        is="settingListItem"
        v-for="procedure in procedures"
        :key="procedure.id"
        :model="procedure"
        nameKey="name"
        placeholder="Procedure name"
        @delete="wantsDelete" />
      <md-list-item
        is="settingListItem"
        :model="procedure"
        nameKey="name"
        placeholder="Procedure name"
        @saved="saved" />
    </md-list>

    <md-dialog
      @close="resetDelete"
      :md-open-from="deleteLocation"
      :md-close-to="deleteLocation"
      ref="delete">
      <md-dialog-title>Delete Procedure</md-dialog-title>
      <md-dialog-content v-text="deleteText" />
      <md-dialog-actions>
        <md-button @click="$refs.delete.close()">Cancel</md-button>
        <md-button
          class="md-primary"
          @click="_delete">Delete</md-button>
      </md-dialog-actions>
    </md-dialog>
  </div>
</template>

<script>
  import Procedure from '../../repositories/Procedure';
  import SettingListItem from './settingListItem';
  import sortBy from 'lodash/sortBy';

  export default {
    beforeRouteEnter(to, from, next) {
      Procedure.all().then(procedures => {
        next(vm => {
          vm.procedures = procedures
        })
      })
    },

    components: {
      SettingListItem
    },

    data() {
      return {
        procedures: [],
        procedure: new Procedure,
        selectedProcedure: null
      }
    },

    computed: {
      deleteText() {
        if (this.selectedProcedure) {
          let name = this.selectedProcedure.name
          return `Delete "${name}"?`
        }
        
        return ''
      },

      deleteLocation() {
        if (this.selectedProcedure) {
          let index = this.procedures.findIndex(p => {
            return p.id === this.selectedProcedure.id
          })

          return `.procedures .md-list-item:nth-child(${ index + 1 }) .delete`
        }

        return ''
      }
    },

    methods: {
      resetDelete() {
        this.selectedProcedure = null
      },

      wantsDelete(procedure) {
        this.selectedProcedure = procedure
        this.$nextTick(() => {
          this.$refs.delete.open()
        })
      },

      _delete() {
        this.selectedProcedure.delete().then(() => {
          let index = this.procedures.findIndex(p => {
            return p.id === this.selectedProcedure.id
          })

          this.$refs.delete.close()

          this.procedures.splice(index, 1)

          this.$root.$refs.snackbar.show({
            message: 'Procedure deleted'
          })
        }).catch((message) => {
          this.$refs.delete.close()
          this.$root.$refs.snackbar.show({ message })
        })
      },

      /**
       * updated: if model saved was existing
       * model: model related to saving
       */
      saved({ updated, model }) {
        if (!updated) {
          this.procedure = new Procedure()

          // Push new procedure and sort it
          this.procedures = sortBy([...this.procedures, model], [
            procedure => procedure.name.toLowerCase()
          ]);
        }
      }
    }
  }
</script>
