<template>
  <md-list-item>
    <!-- Normal mode -->
    <span v-text="model[nameKey]" v-if="!edit && model.exists" />
    <div v-if="!edit && model.exists">
      <md-button
        @click="wantsEdit"
        class="md-icon-button md-list-action edit">
        <md-icon>edit</md-icon>
      </md-button>

      <md-button
        @click="wantsDelete"
        class="md-icon-button md-list-action delete">
        <md-icon>delete</md-icon>
      </md-button>
    </div>

    <!-- Input mode -->
    <md-input-container
      md-inline
      v-if="edit || !model.exists"
      style="margin-top: 0; margin-bottom: 16px; width: 50%;">
      <label v-text="placeholder" />
      <md-input v-model="input" />
    </md-input-container>

    <div v-if="edit || !model.exists">
      <md-button
        @click="cancelEdit"
        v-if="model.exists"
        class="md-icon-button md-list-action">
        <md-icon>cancel</md-icon>
      </md-button>
      <md-button
        @click="save"
        :disabled="!input"
        class="md-icon-button md-primary md-list-action">
        <md-icon>send</md-icon>
      </md-button>
    </div>
  </md-list-item>
</template>

<script>
  export default {
    props: {
      model: {
        required: true,
        type: Object
      },
      nameKey: {
        required: true,
        type: String
      },
      placeholder: {
        required: true,
        type: String
      }
    },

    data() {
      return {
        edit: false,
        input: this.model[this.nameKey]
      }
    },

    watch: {
      model: function (newModel) {
        this.input = newModel[this.nameKey]
      }
    },

    methods: {
      wantsEdit() {
        this.edit = true
      },

      cancelEdit() {
        this.edit = false
        this.input = this.model[this.nameKey]
      },

      save() {
        this.model[this.nameKey] = this.input

        this.model.save().then(model => {
          this.edit = false

          let modelName = this.model.constructor.name
          let message = this.model.exists
            ? `${modelName} updated`
            : `New ${modelName.toLowerCase()} added`

          this.$root.$refs.snackbar.show({ message })
          
          this.$emit('saved', {
            updated: this.model.exists,
            model: model
          })
        }).catch((message) => {
          this.$root.$refs.snackbar.show({ message })
        })
      },

      wantsDelete() {
        this.$emit('delete', this.model)
      }
    }
  }
</script>
