<template>
  <div>
    <md-subheader>Treatments</md-subheader>
    <md-list class="treatments">
      <md-list-item
        is="settingListItem"
        v-for="treatment in treatments"
        :key="treatment.id"
        :model="treatment"
        nameKey="name"
        placeholder="Treatment name"
        @delete="wantsDelete" />
      <md-list-item
        is="settingListItem"
        :model="treatment"
        nameKey="name"
        placeholder="Treatment name"
        @saved="saved" />
    </md-list>

    <md-dialog
      @close="resetDelete"
      :md-open-from="deleteLocation"
      :md-close-to="deleteLocation"
      ref="delete">
      <md-dialog-title>Delete Treatment</md-dialog-title>
      <md-dialog-content v-text="deleteText" />
      <md-dialog-actions>
        <md-button @click="$refs.delete.close()">Cancel</md-button>
        <md-button
          class="md-primary"
          @click="_delete">Delete</md-button>
      </md-dialog-actions>
    </md-dialog>
  </div>
</template>

<script>
  import Treatment from '../../repositories/Treatment';
  import SettingListItem from './settingListItem';
  import sortBy from 'lodash/sortBy';

  export default {
    beforeRouteEnter(to, from, next) {
      Treatment.all().then(treatments => {
        next(vm => {
          vm.treatments = treatments
        })
      })
    },

    components: {
      SettingListItem
    },

    data() {
      return {
        treatments: [],
        treatment: new Treatment,
        selectedTreatment: null
      }
    },

    computed: {
      deleteText() {
        if (this.selectedTreatment) {
          let name = this.selectedTreatment.name
          return `Delete "${name}"?`
        }
        
        return ''
      },

      deleteLocation() {
        if (this.selectedTreatment) {
          let index = this.treatments.findIndex(p => {
            return p.id === this.selectedTreatment.id
          })

          return `.treatments .md-list-item:nth-child(${ index + 1 }) .delete`
        }

        return ''
      }
    },

    methods: {
      resetDelete() {
        this.selectedTreatment = null
      },

      wantsDelete(treatment) {
        this.selectedTreatment = treatment
        this.$nextTick(() => {
          this.$refs.delete.open()
        })
      },

      _delete() {
        this.selectedTreatment.delete().then(() => {
          let index = this.treatments.findIndex(p => {
            return p.id === this.selectedTreatment.id
          })

          this.$refs.delete.close()

          this.treatments.splice(index, 1)

          this.$root.$refs.snackbar.show({
            message: 'Treatment deleted'
          })
        }).catch((message) => {
          this.$refs.delete.close()
          this.$root.$refs.snackbar.show({ message })
        })
      },

      /**
       * updated: if model saved was existing
       * model: model related to saving
       */
      saved({ updated, model }) {
        if (!updated) {
          this.treatment = new Treatment()

          // Push new treatment and sort it
          this.treatments = sortBy([...this.treatments, model], [
            treatment => treatment.name.toLowerCase()
          ]);
        }
      }
    }
  }
</script>
