<template>
  <div class="autocomplete">
    <div class="autocomplete__textfield mdc-textfield">
      <input
        type="text"
        name="query"
        placeholder="Type to start searching"
        class="autocomplete__input mdc-textfield__input"
        v-model="query"
        @input="onInput"
        @keydown="onKeydown">
      <i
        class="autocomplete__icon fa fa-fw"
        :class="iconClass"
        @click="onIconClick"></i>
    </div>
    <div class="form-error">{{ error }}</div>

    <div class="mdc-menu-anchor">
      <m-simple-menu v-if="results.length > 0" ref="menu" class="autocomplete__results">
        <div
          class="autocomplete__result mdc-list-item"
          :class="{ 'autocomplete__result--disabled': result.disabled }"
          role="menuitem"
          :aria-disabled="result.disabled"
          :tabindex="result.disabled ? '-1' : '0'"
          v-for="result in results"
          v-text="result.text"></div>
      </m-simple-menu>
    </div>
  </div>
</template>

<script>
  import debounce from 'lodash/debounce';
  import MSimpleMenu from '../components/MSimpleMenu';
  import MDCSimpleMenuFoundation from '@material/menu/simple/foundation';

  export default {
    props: {
      placeholder: {
        type: String,
        default: ''
      },

      search: {
        required: true,
        type: Function
      },

      error: {
        type: String
      }
    },

    components: {
      MSimpleMenu
    },

    data () {
      return {
        query: this.placeholder,
        valid: false,
        loading: false,
        active: false,
        results: [],
        iconClass: {
          'fa-circle-o-notch': false,
          'fa-spin': false,
          'fa-caret-down': false,
          'fa-caret-up': false
        }
      }
    },

    methods: {
      onInput () {
        if (this.valid) {
          this.valid = false
          this.$emit('invalid')
        }

        this.loading = true
        this._search()
      },

      onKeydown (evt) {
        if (this.results.length > 0) {
          this.$refs.menu.foundation.handleKeyboardDown_(evt)
        }
      },

      onSelected ({ index }) {
        this.valid = true
        this.active = false
        this.query = this.results[index].text
        this.$emit('selected', this.results[index])
      },

      onIconClick () {
        if (!this.loading) {
          this.active ? this._hide() : this._open()
        }
      },

      _search: debounce(function () {
        this.search(this.query).then(results => {
          this.results = results.length > 0 ? results : [{ text: 'No match found', disabled: true }]
          this.$nextTick(() => this._open())
          this.loading = false
        }).catch(() => {
          this.loading = false
        })
      }, 250),

      /**
       * Copy/Pasted MDCSimpleMenu open method except
       * for the focusOnOpen() method line.
       */
      _open () {
        const foundation = this.$refs.menu.foundation
        foundation.adapter_.addClass(MDCSimpleMenuFoundation.cssClasses.ANIMATING);
        foundation.animationRequestId_ = requestAnimationFrame(() => {
          foundation.dimensions_ = foundation.adapter_.getInnerDimensions();
          foundation.applyTransitionDelays_();
          foundation.autoPosition_();
          foundation.animateMenu_();
          foundation.adapter_.addClass(MDCSimpleMenuFoundation.cssClasses.OPEN);
          foundation.adapter_.registerBodyClickHandler(foundation.documentClickHandler_);
        });
        foundation.isOpen_ = true;
        this.active = true
      },

      _hide () {
        this.$refs.menu.hide()
        this.active = false
      },

      clear () {
        Object.assign(this.$data, this.$options.data())
      }
    },

    watch: {
      placeholder: function (newVal) {
        this.query = newVal
      },

      results: function (newVal) {
        if (newVal.length > 0) {
          this.$nextTick(() => {
            this.$refs.menu.$off()
            this.$refs.menu.$on(MDCSimpleMenuFoundation.strings.SELECTED_EVENT, this.onSelected)
            this.$refs.menu.$on(MDCSimpleMenuFoundation.strings.CANCEL_EVENT, () => {
              this.active = false
            })
          })
        }
      },

      loading: function (newVal) {
        Object.assign(this.iconClass, {
          'fa-spin': newVal,
          'fa-circle-o-notch': newVal,
          'fa-caret-up': this.results.length > 0 && this.active,
          'fa-caret-down': this.results.length > 0 && !this.active
        })
      },

      active: function (newVal) {
        Object.assign(this.iconClass, {
          'fa-caret-up': newVal,
          'fa-caret-down': !newVal
        })
      }
    }
  }
</script>

<style lang="scss" scoped>
  .autocomplete {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
  }
    .autocomplete__textfield {
      position: relative;
    }
      .autocomplete__icon {
        color: rgba(#000, 0.54);
        line-height: inherit;
        position: absolute;
        top: 0;
        right: 0.5rem;

        &:not(.fa-spin) {
          cursor: pointer;
        }
      }
      .form-error {
        position: absolute;
        bottom: -20px; // textfield margin-bottom + error font-size
      }

    .autocomplete__results {
      width: 100%;
      overflow-y: auto;
      max-height: calc(40vh - 32px);
      transform-origin: top left !important;
      top: 0 !important;
      bottom: auto !important;
    }
</style>
