<template>
  <div class="calendar">
    <div class="calendar__header">
      <button
        class="mdc-button calendar__nav calendar__nav--prev"
        @click="prevMonth">
        <i class="fa fa-chevron-left"></i>
      </button>
      
      <div class="calendar__title">{{ monthName }} {{ year }}</div>
      
      <button
        class="mdc-button calendar__nav calendar__nav--next"
        @click="nextMonth">
        <i class="fa fa-chevron-right"></i>
      </button>
    </div>

    <div class="calendar__body">
      <div class="calendar__weeks">
        <div
          class="calendar__week"
          v-for="week in weeks">
          <span
            class="calendar__weekname"
            :class="{ 'calendar__weekname--active': isActiveWeek(week) }">{{ week }}</span>    
        </div>
      </div>

      <div class="calendar__days">
        <div class="calendar__day calendar__day--previous" v-for="d in prevDates">
          <span class="calendar__date" v-text="d"></span>
        </div>

        <div
          v-for="d in dates"
          @click="dayClick(d)"
          class="calendar__day"
          :class="getDayClasses(d)">
          <span class="calendar__date" v-text="d"></span>
        </div>

        <div class="calendar__day calendar__day--next" v-for="d in nextDates">
          <span class="calendar__date" v-text="d"></span>
        </div>
      </div>
    </div>
  </div>  
</template>

<script>
  'use strict';

  import {MDCRipple} from '@material/ripple';
  import {getDaysInMonth, setDate} from 'date-fns';
  import {isSaturday, isSunday, isSameDay} from 'date-fns';
  import {subMonths, addMonths} from 'date-fns';
  import {subDays, addDays} from 'date-fns';

  const
    MONTHS = ["January","February","March","April","May","June","July","August","September","October","November", "December"],
    WEEKS = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'];

  export default {
    props: {
      month: {
        required: true,
        type: Number
      },

      date: {
        required: true,
        type: Number
      },

      year: {
        required: true,
        type: Number
      },

      appointments: {
        required: true,
        type: Array
      }
    },

    mounted () {
      [].slice.call(document.querySelectorAll('.mdc-button')).forEach(el => {
        MDCRipple.attachTo(el)
      })
    },

    computed: {
      dateObject () {
        return new Date(this.year, this.month, this.date)
      },

      monthName () {
        return MONTHS[this.month]
      },

      prevDates () {
        let firstDay = setDate(this.dateObject, 1)
        
        let dates = []

        // If first day of current month
        // is not Sunday, get previous dates
        // from previous month
        if (!isSunday(firstDay)) {
          let
            prevMonth = subMonths(this.dateObject, 1),
            prevMonthDays= getDaysInMonth(prevMonth),
            prevDate = setDate(prevMonth, prevMonthDays)

          while (!isSaturday(prevDate)) {
            dates.push(prevDate.getDate())
            prevDate = subDays(prevDate, 1)
          }

          return dates.reverse()
        }

        return dates
      },

      dates () {
        let days = getDaysInMonth(this.dateObject)
        return Array.from(Array(days), (e,i) => i+1)
      },

      nextDates () {
        let
          dates = [],
          totalDays = this.prevDates.length + this.dates.length + dates.length,
          nextMonth = addMonths(this.dateObject, 1),
          nextDay = setDate(nextMonth, 1)

        while (!isSunday(nextDay) || totalDays <= 35) {
          dates.push(nextDay.getDate())
          nextDay = addDays(nextDay, 1)
          totalDays = this.prevDates.length + this.dates.length + dates.length
        }

        return dates
      },

      weeks () {
        return WEEKS;
      },

      daysOfMonth () {
        return getDaysInMonth(new Date(this.year, this.month))
      }
    },

    methods: {
      getDayClasses (d)  {
        return {
          'calendar__day--active': d === this.date,
          'calendar__day--has-appointments': this.hasAppointment(d),
          'calendar__day--today': isSameDay(new Date(), setDate(this.dateObject, d))
        }
      },

      hasAppointment (date) {
        return this.appointments.find(appt => {
          return isSameDay(new Date(appt.date), setDate(this.dateObject, date))
        }) instanceof Object
      },

      isActiveWeek (week) {
        return WEEKS[this.dateObject.getDay()] === week
      },

      prevMonth () {
        this.$emit('prevMonth')
      },

      nextMonth () {
        this.$emit('nextMonth')
      },

      dayClick (date) {
        this.$emit('dayClick', date)
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import '../../assets/admin/settings/variables';

  .calendar {
    display: flex;
    flex-direction: column;
    background-color: #fff;
  }

  .calendar__header {
    flex: 1 0;
    padding: 2rem 0;
    display: flex;
    align-items: center;
  }
    .calendar__title {
      flex: 1;
      font-size: 2.125rem;
      text-align: center;
    }

    .calendar__title,
    .calendar__nav {
      color: $mdc-theme-primary;
    }

  .calendar__body {
    flex: 0 1;
  }
    .calendar__weeks {
      display: flex;
      padding: 0.5rem 0;
    }
      .calendar__week {
        flex: 1 0;
        text-align: center;
      }
        .calendar__weekname {
          position: relative;
          padding-bottom: 4px;
          color: var(--mdc-theme-text-secondary-on-background, rgba(#000, 0.87));
        }
        .calendar__weekname--active {
          border-bottom: 2px solid $mdc-theme-primary;
        }

    .calendar__days {
      display: flex;
      flex-wrap: wrap;
    }
      .calendar__day {
        cursor: pointer;
        padding: 1rem;
        width: 1% * (100 / 7);
        text-align: center;
      }
        .calendar__date {
          display: inline-block;
          text-align: center;
          width: 1.75rem;
          height: 1.75rem;
          line-height: 1.75rem;
          color: var(--mdc-theme-text-primary-on-background, rgba(#000, 0.87));
        }

      .calendar__day--today {
        .calendar__date {
          color: $mdc-theme-primary-dark;
          font-weight: 500;
        }
      }

      .calendar__day--active {
        .calendar__date {
          color: var(--mdc-theme-text-primary-on-primary, #fff);
          background-color: $mdc-theme-primary;
          border-radius: 8px;
        }
      }

      .calendar__day--has-appointments {
        .calendar__date {
          &:after {
            content: '';
            display: block;
            margin: 4px auto 0;
            height: 4px;
            width: 4px;
            border-radius: 50%;
            background-color: $mdc-theme-primary;
          }
        }
      }

      .calendar__day--previous,
      .calendar__day--next {
        cursor: default;

        .calendar__date {
          color: var(--mdc-theme-text-hint-on-background, rgba(#000, 0.38));
        }
      }
</style>
