<template>
  <div class="datepicker">
    <div class="datepicker__month">
      <select class="mdc-select" v-model="month">
        <option v-for="(m,index) in months" :value="index" v-text="m"></option>
      </select>
      <label class="form-helper">Month</label>
    </div>

    <div class="datepicker__day mdc-textfield">
      <input
        type="tel"
        maxlength="2"
        class="mdc-textfield__input"
        v-model="day">
        <label class="form-helper">Day</label>
    </div>

    <div class="datepicker__year mdc-textfield">
      <input
        type="tel"
        maxlength="4"
        class="mdc-textfield__input"
        v-model="year">
        <label class="form-helper">Year</label>
    </div>
  </div>
</template>

<script>
  const MONTHS = [
    'January',
    'February',
    'March',
    'April',
    'May',
    'June',
    'July',
    'August',
    'September',
    'October',
    'November',
    'December'
  ];

  export default {
    props: {
      value: {
        required: true,
        type: Object,
        validator: function (date) {
          if (!date.hasOwnProperty('month')) {
            throw new Error('Value prop should have a <month> property')
          } else if (!date.hasOwnProperty('day')) {
            throw new Error('Value prop should have a <day> property')
          } else if (!date.hasOwnProperty('year')) {
            throw new Error('Value prop should have a <year> property')
          }
          return true
        }
      }
    },

    computed: {
      months() {
        return MONTHS
      },

      month: {
        get () {
          return this.value.month
        },

        set (value) {
          this.$emit('input', Object.assign({}, this.value, { month: value }))
        }
      },

      day: {
        get () {
          return this.value.day
        },

        set (value) {
          this.$emit('input', Object.assign({}, this.value, { day: value }))
        }
      },

      year: {
        get () {
          return this.value.year
        },

        set (value) {
          this.$emit('input', Object.assign({}, this.value, { year: value }))
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  .datepicker {
    display: flex;
  }
    .datepicker__month {
     .mdc-select {
      height: auto;
      max-width: 100%;
      font-size: 1rem;
      line-height: 1.15;
      padding-bottom: 8px;
     } 
    }

    .datepicker__day {
      width: 2rem;
    }

    .datepicker__year {
      width: 4rem;
    }

    .datepicker__month,
    .datepicker__day,
    .datepicker__year {
      display: flex;
      flex-direction: column;
    }

    .datepicker__month,
    .datepicker__day {
      margin-right: 1rem;
    }

    .datepicker__day,
    .datepicker__year {
      margin-bottom: 0;

      .mdc-textfield__input {
        text-align: center;
      }
    }
</style>
