<template>
  <aside :id="id"
         class="mdc-dialog"
         role="alertdialog"
         :aria-labelledby="labelId"
         :aria-describedby="descriptionId">
  <div class="mdc-dialog__surface" :class="surfaceClasses" ref="surface">
      <header class="mdc-dialog__header">
        <slot name="header">
          <h2 :id="labelId"
              class="mdc-dialog__header__title">{{ title }}</h2>
        </slot>
      </header>
      <section :id="descriptionId"
               :class="bodyClasses"
               class="mdc-dialog__body">
        <slot></slot>
      </section>
      <footer class="mdc-dialog__footer">
        <slot name="footer">
          <button
            type="button"
            class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--cancel"
            ref="cancel"
            v-if="cancelText"
            v-text="cancelText"></button>
          <button
            type="button"
            class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--accept"
            ref="accept"
            v-text="acceptText || 'OK'"></button>
        </slot>
      </footer>
    </div>
    <div class="mdc-dialog__backdrop"></div>
  </aside>
</template>

<script>
import MDCDialogFoundation from '@material/dialog/foundation'
import { createFocusTrapInstance } from '@material/dialog/util'
import { getCorrectEventName } from '@material/animation';

export default {
  props: {
    surfaceSize: [String],
    scrollable: [Boolean, String],
    title: String,
    acceptText: String,
    cancelText: String,
    manual: Boolean,
    id: [String, Boolean],
  },

  computed: {
    bodyClasses () {
      return {
        'mdc-dialog__body--scrollable': this.scrollable,
      }
    },
    surfaceClasses () {
      return [`mdc-dialog__surface--${this.surfaceSize}`]
    },
    labelId () {
      return this.id ? `${this.id}__label` : false
    },
    descriptionId () {
      return this.id ? `${this.id}__description` : false
    },
  },

  mounted () {
    this.focusTrap_ = createFocusTrapInstance(this.$refs.surface, this.$refs.accept)

    let surfaceHandler = function (evt) {
      const {target} = evt;
      if (foundation.adapter_.eventTargetHasClass(target, MDCDialogFoundation.cssClasses.ACCEPT_BTN)) {
        foundation.adapter_.notifyAccept(true);
      } else if (foundation.adapter_.eventTargetHasClass(target, MDCDialogFoundation.cssClasses.CANCEL_BTN)) {
        foundation.adapter_.notifyCancel(true);
      }
    }

    let foundation = this.foundation = new MDCDialogFoundation({
      addClass: (className) => this.$el.classList.add(className),
      removeClass: (className) => this.$el.classList.remove(className),
      addBodyClass: (className) => document.body.classList.add(className),
      removeBodyClass: (className) => document.body.classList.remove(className),
      eventTargetHasClass: (target, className) => target.classList.contains(className),
      registerInteractionHandler: (evt, handler) => this.$el.addEventListener(evt, handler),
      deregisterInteractionHandler: (evt, handler) => this.$el.removeEventListener(evt, handler),
      registerSurfaceInteractionHandler: (evt, handler) => {
        this.$refs.surface.addEventListener(evt, this.manual ? surfaceHandler : handler)
      },
      deregisterSurfaceInteractionHandler: (evt, handler) => {
        this.$refs.surface.removeEventListener(evt, this.manual ? surfaceHandler : handler)
      },
      registerDocumentKeydownHandler: (handler) => document.addEventListener('keydown', handler),
      deregisterDocumentKeydownHandler: (handler) => document.removeEventListener('keydown', handler),
      registerTransitionEndHandler: (handler) => this.$refs.surface.addEventListener(getCorrectEventName(window, 'transitionend'), handler),
      deregisterTransitionEndHandler: (handler) => this.$refs.surface.removeEventListener(getCorrectEventName(window, 'transitionend'), handler),
      notifyAccept: () => this.$emit('accepted'),
      notifyCancel: () => this.$emit('canceled'),
      isDialog: (el) => el === this.$refs.surface,
      trapFocusOnSurface: () => this.focusTrap_.activate(),
      untrapFocusOnSurface: () => this.focusTrap_.deactivate(),
    })

    this.foundation.init()
  },

  beforeDestroy () {
    this.foundation.destroy()
  },

  methods: {
    open () {
      this.foundation.open()
    },
    close () {
      this.foundation.close()
    },
  }
}
</script>
