<template>
	<transition :enter-active-class="transition.in" :leave-active-class="transition.out">
		<div class="message" :class="computedClass">

			<div class="message__icon">
				<i :class="computedIcon"></i>
			</div>

			<div class="message__content">

				<div class="message__header">
					<span>{{ computedTitle }}</span>

					<div v-on:click="onMessageClose" class="message__close">
						<i class="fa fa-times"></i>
					</div>
				</div><!-- /.message__header -->

				<div>{{ message }}</div>
			</div><!-- /.message__content -->

		</div><!-- /.message -->
	</transition>
</template>

<script>
	export default {
		props: {
			icon: { type: String },
			title: { type: String },
			customClass: { type: String },
			type: { required: true, type: String },
			message: { required: true, type: String },
			transition: {
				type: Object,
				default: () => {
					return { in: 'fadeIn', out: 'fadeOut' } 
				}
			}
		},

		computed: {
			computedClass: function() {
				switch (this.type) {
					case 'success': return ' message--success'
					
					case 'warning': return ' message--warning'

					case 'error': return ' message--error'
					
					case 'info': return ' message--info'
				}
			},

			computedIcon: function() {
				if (this.icon) {
					return this.icon
				}

				switch (this.type) {
					case 'success': return 'fa fa-check-circle'

					
					case 'warning': return 'fa fa-exclamation-triangle'
					
					case 'danger':
					case 'error': return 'fa fa-times-circle'
					
					case 'info': return 'fa fa-info-circle'
				}
			},

			computedTitle: function() {
				if (this.title) {
					return this.title
				}

				switch (this.type) {
					case 'success': return 'Success'
					case 'warning': return 'Warning'
					case 'danger': return 'Danger'
					case 'info': return 'Info'
				}
			}
		},

		methods: {
			onMessageClose() {
				this.$emit('close')
			}
		}
	}
</script>