<template>
  <div class="mdc-radio">
    <input class="mdc-radio__native-control" type="radio" id="male" name="gender">
    <div class="mdc-radio__background">
      <div class="mdc-radio__outer-circle"></div>
      <div class="mdc-radio__inner-circle"></div>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      name: {
        type: String,
        required: true
      },

      id: {
        type: String,
        required: true
      }
    },

    data () {

    },

    mounted () {

    }
  }
</script>
