<template>
  <div :class="classes" :style="styles" role="listbox" tabindex="0">
    <span class="mdc-select__selected-text">{{ placeholderText }}</span>
    <m-simple-menu class="mdc-select__menu" ref="menu">
      <li class="mdc-list-item"
        role="option"
        tabindex="0"
        :aria-selected="isSelected(index)"
        v-if="foundation"
        v-for="(item, index) in items"
        v-bind:key="index"
        v-text="foundation.adapter_.getTextForOptionAtIndex(index)"></li>
    </m-simple-menu>
  </div>
</template>

<script>
  import MSimpleMenu from './MSimpleMenu';
  import {MDCSelectFoundation} from '@material/select';

  export default {
    props: {
      items: {
        type: Array,
        required: true
      },

      placeholder: {
        type: String,
        required: true
      }
    },

    components: {
      MSimpleMenu
    },

    data () {
      return {
        foundation: null,

        menu: null,

        classes: {
          'mdc-select': true
        },

        styles: {}
      }
    },

    computed: {
      value() {
        return this.foundation.getValue()
      },

      options() {
        return this.menu.items;
      },

      selectedOptions() {
        return this.$el.querySelectorAll('[aria-selected]');
      },

      selectedIndex: {
        get() {
          return this.foundation.getSelectedIndex();
        },

        set(selectedIndex) {
          this.foundation.setSelectedIndex(selectedIndex);
        }
      },

      disabled: {
        get() {
          return this.foundation.isDisabled();
        },

        set(disabled) {
          this.foundation.setDisabled(disabled);
        }
      },

      placeholderText() {
        return typeof this.items[0] === 'string'
          ? this.placeholder
          : this.items.find(option => option.value === this.placeholder).label
      },

      placeholderIndex() {
        if (typeof this.items[0] === 'string') {
          return this.items.indexOf(this.placeholder)
        }

        return this.items.findIndex(option => option.value === this.placeholder)
      }
    },

    methods: {
      item(index) {
          return this.options[index] || null;
      },

      nameditem(key) {
        // NOTE: IE11 precludes us from using Array.prototype.find
        for (let i = 0, options = this.options, option; (option = this.options[i]); i++) {
          if (option.id === key || option.getAttribute('name') === key) {
              return option;
          }
        }
        return null;
      },

      isSelected(index) {
        return this.placeholder === this.foundation.adapter_.getTextForOptionAtIndex(index)
          || this.placeholder === this.foundation.adapter_.getValueForOptionAtIndex(index)
      }
    },

    mounted () {
      this.menu = this.$refs.menu

      let menuEl = this.menu.$el

      // let selectedText = this.$el.querySelector('.mdc-select__selected-text')

      this.foundation = new MDCSelectFoundation({
        addClass: (className) => this.$set(this.classes, className, true),

        removeClass: (className) => this.$set(this.classes, className, false),

        setAttr: (attr, value) => this.$el.setAttribute(attr, value),

        rmAttr: (attr, value) => this.$el.removeAttribute(attr, value),

        computeBoundingRect: () => this.$el.getBoundingClientRect(),

        registerInteractionHandler: (type, handler) => this.$el.addEventListener(type, handler),

        deregisterInteractionHandler: (type, handler) => this.$el.removeEventListener(type, handler),

        focus: () => this.$el.focus(),

        makeTabbable: () => { this.$el.tabIndex = 0 },

        makeUntabbable: () => { this.$el.tabIndex = -1 },

        getComputedStyleValue: (prop) => window.getComputedStyle(this.$el).getPropertyValue(prop),

        setStyle: (propertyName, value) => {
          // Disabled temporarily: it sets wrong width
          // this.$set(this.styles, propertyName, value)
        },

        create2dRenderingContext: () => document.createElement('canvas').getContext('2d'),

        setMenuElStyle: (propertyName, value) => menuEl.style.setProperty(propertyName, value),

        setMenuElAttr: (attr, value) => menuEl.setAttribute(attr, value),

        rmMenuElAttr: (attr) => menuEl.removeAttribute(attr),

        getMenuElOffsetHeight: () => menuEl.offsetHeight,

        openMenu: (focusIndex) => this.menu.show({focusIndex}),

        isMenuOpen: () => this.menu.open,

        setSelectedTextContent: (selectedTextContent) => {
          //  Do not change DOM content manually. Listen to 'change' event.
          // selectedText.textContent = selectedTextContent;
        },

        getNumberOfOptions: () => this.items.length,

        getTextForOptionAtIndex: (index) =>
          typeof this.items[index] === 'string' ? this.items[index] : this.items[index].label,

        getValueForOptionAtIndex: (index) =>
          typeof this.items[index] === 'string' ? this.items[index] : this.items[index].value,

        setAttrForOptionAtIndex: (index, attr, value) => this.options[index].setAttribute(attr, value),

        rmAttrForOptionAtIndex: (index, attr) => this.options[index].removeAttribute(attr),

        getOffsetTopForOptionAtIndex: (index) => this.options[index].offsetTop,

        registerMenuInteractionHandler: (type, handler) => {
          this.menu.$on(type, handler)
        },

        deregisterMenuInteractionHandler: (type, handler) => {
          this.menu.$off(type, handler)
        },

        notifyChange: () => this.$emit('change', this.items[this.selectedIndex]),

        getWindowInnerHeight: () => window.innerHeight,
      })

      this.foundation.init()

      this.$nextTick(() => {
        this.foundation.setSelectedIndex(this.placeholderIndex)
      })
    },

    beforeDestroy() {
      this.foundation.destroy()
    }
  }
</script>
