<template>
  <div :class="classes" tabindex="-1">
    <ul
      class="mdc-simple-menu__items mdc-list"
      :class="listClass"
      role="menu"
      aria-hidden="true"
      ref="items">
      <slot></slot>
    </ul>
  </div>
</template>

<script>
  import {MDCSimpleMenuFoundation} from '@material/menu';
  import {getTransformPropertyName} from '@material/menu/util';

  export default {
    props: {
      dense: Boolean
    },

    data () {
      return {
        foundation: null,

        classes: {
          'mdc-simple-menu': true
        }
      }
    },

    mounted () {
      this.foundation = new MDCSimpleMenuFoundation({
        addClass: (className) => this.$set(this.classes, className, true),

        removeClass: (className) => this.$set(this.classes, className, false),

        hasClass: (className) => this.classes[className] === true,

        hasNecessaryDom: () => Boolean(this.itemsContainer_),

        getAttributeForEventTarget: (target, attributeName) => target.getAttribute(attributeName),

        getInnerDimensions: () => {
          return {width: this.itemsContainer_.offsetWidth, height: this.itemsContainer_.offsetHeight};
        },

        hasAnchor: () => this.$el.parentElement && this.$el.parentElement.classList.contains('mdc-menu-anchor'),

        getAnchorDimensions: () => this.$el.parentElement.getBoundingClientRect(),

        getWindowDimensions: () => {
          return {width: window.innerWidth, height: window.innerHeight};
        },

        setScale: (x, y) => {
          this.$el.style[getTransformPropertyName(window)] = `scale(${x}, ${y})`;
        },

        setInnerScale: (x, y) => {
          this.$refs.items.style[getTransformPropertyName(window)] = `scale(${x}, ${y})`;
        },

        getNumberOfItems: () => this.items.length,

        registerInteractionHandler: (type, handler) => {
          this.$el.addEventListener(type, handler)
        },

        deregisterInteractionHandler: (type, handler) => {
          this.$el.removeEventListener(type, handler)
        },

        registerBodyClickHandler: (handler) => document.body.addEventListener('click', handler),

        deregisterBodyClickHandler: (handler) => document.body.removeEventListener('click', handler),

        getYParamsForItemAtIndex: (index) => {
          const {offsetTop: top, offsetHeight: height} = this.items[index];
          return {top, height};
        },

        setTransitionDelayForItemAtIndex: (index, value) =>
          this.items[index].style.setProperty('transition-delay', value),
        
        getIndexForEventTarget: (target) => this.items.indexOf(target),
        
        notifySelected: (evtData) => { 
          this.$emit(MDCSimpleMenuFoundation.strings.SELECTED_EVENT, {
            index: evtData.index,
            item: this.items[evtData.index],
          })
        },

        notifyCancel: () => this.$emit(MDCSimpleMenuFoundation.strings.CANCEL_EVENT, {}),

        saveFocus: () => {
          this.previousFocus_ = document.activeElement;
        },

        restoreFocus: () => {
          if (this.previousFocus_) {
            this.previousFocus_.focus();
          }
        },

        isFocused: () => document.activeElement === this.$el,

        focus: () => this.$el.focus(),

        getFocusedItemIndex: () => this.items.indexOf(document.activeElement),

        focusItemAtIndex: (index) => this.items[index].focus(),

        isRtl: () => getComputedStyle(this.$el).getPropertyValue('direction') === 'rtl',

        setTransformOrigin: (origin) => {
          this.$el.style[`${getTransformPropertyName(window)}-origin`] = origin;
        },

        setPosition: (position) => {
          this.$el.style.left = 'left' in position ? position.left : null;
          this.$el.style.right = 'right' in position ? position.right : null;
          this.$el.style.top = 'top' in position ? position.top : null;
          this.$el.style.bottom = 'bottom' in position ? position.bottom : null;
        },

        getAccurateTime: () => window.performance.now(),
      })

      this.foundation.init()
    },

    computed: {
      open: {
        get() {
          return this.foundation.isOpen()
        },

        set (value) {
          if (value) {
            this.foundation.open()
          } else {
            this.foundation.close()
          }
        }
      },

      itemsContainer_ () {
        return this.$refs.items
      },

      items () {
        const {itemsContainer_: itemsContainer} = this;
        return [].slice.call(itemsContainer.querySelectorAll('.mdc-list-item[role]'));
      },

      listClass () {
        return {
          'mdc-list--dense': this.dense
        }
      }
    },

    methods: {
      show ({focusIndex = null} = {}) {
        this.foundation.open({focusIndex: focusIndex});
      },

      hide () {
        this.foundation.close()
      }
    },

    beforeDestroy() {
      this.foundation.destroy()
    }
  }
</script>
