<template>
  <div class="mdc-snackbar"
       aria-live="assertive"
       aria-atomic="true"
       aria-hidden="true">
    <div class="mdc-snackbar__text">{{message}}</div>
    <div class="mdc-snackbar__action-wrapper">
      <button type="button"
          class="mdc-button mdc-snackbar__action-button"
          :aria-hidden="actionHidden"
          v-on:click="actionClicked">{{actionText}}</button>
    </div>
  </div>
</template>

<script>
  import {MDCSnackbarFoundation} from '@material/snackbar';
  import {getCorrectEventName} from '@material/animation';

  export default {
    data () {
      return {
        foundation: null,

        hidden: false,
        actionHidden: false,

        message: '',
        actionText: '',

        actionClickHandlers: []
      }
    },

    mounted () {
      this.foundation = new MDCSnackbarFoundation({
        addClass: (className) => this.$el.classList.add(className),
        removeClass: (className) => this.$el.classList.remove(className),
        setAriaHidden: () => this.$el.setAttribute('aria-hidden', 'true'),
        unsetAriaHidden: () => this.$el.removeAttribute('aria-hidden'),
        setActionAriaHidden: () => {
          this.actionHidden = true
        },
        unsetActionAriaHidden: () => {
          this.actionHidden = false
        },
        setActionText: (text) => {
          this.actionText = text
        },
        setMessageText: (text) => {
          this.message = text
        },
        registerActionClickHandler: (handler) => this.actionClickHandlers.push(handler),
        deregisterActionClickHandler: (handler) => {
          let index = this.actionClickHandlers.indexOf(handler)

          if (index >= 0) {
            this.actionClickHandlers.splice(index, 1)
          }
        },
        registerTransitionEndHandler:
        (handler) => this.$el.addEventListener(getCorrectEventName(window, 'transitionend'), handler),
        deregisterTransitionEndHandler:
        (handler) => this.$el.removeEventListener(getCorrectEventName(window, 'transitionend'), handler),
      })

      this.foundation.init()
    },

    beforeDestroy () {
      this.foundation.destroy()
    },

    methods: {
      actionClicked (event) {
        this.actionClickHandlers.forEach(h => h(event))
      },

      show (data) {
        this.foundation.show(data)
      }
    }
  }
</script>
