<template>
	<div class="mdc-textfield-helptext"
		:class="classes">
		<slot>{{ message }}</slot>
	</div>
</template>

<script>
	export default {
		props: {
			persistent: Boolean,
			validation: Boolean,
			message: String
		},

		data () {
			return {
				classes: {
					'mdc-textfield-helptext--persistent': this.persistent,
					'mdc-textfield-helptext--validation-msg': this.validation
				}
			}
		}
	}
</script>