<template>
  <div class="timepicker">
    <div class="timepicker__hour mdc-textfield">
      <input
        type="tel"
        maxlength="2"
        class="mdc-textfield__input"
        v-model="hour">
      <label>Hour</label>
    </div>
    
    <div class="timepicker__colon">:</div>

    <div class="timepicker__minute mdc-textfield">
      <input
        type="tel"
        maxlength="2"
        class="mdc-textfield__input"
        v-model="minute">
      <label>Minute</label>
    </div>
  
    <div class="timepicker__period">
      <select class="mdc-select" v-model="period">
        <option value="am">AM</option>
        <option value="pm">PM</option>
      </select>
      <label>Period</label>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      value: {
        required: true,
        type: Object,
        validator: function (time) {
          if (!time.hasOwnProperty('hour')) {
            throw new Error('Value prop should have an <hour> property')
          } else if (!time.hasOwnProperty('minute')) {
            throw new Error('Value prop should have a <minute> property')
          } else if (!time.hasOwnProperty('period')) {
            throw new Error('Value prop should have a <period> property')
          }
          return true
        }
      }
    },

    computed: {
      hour: {
        get () {
          return this.value.hour
        },
        set (value) {
          this.$emit('input', Object.assign({}, this.value, { hour: value }))
        }
      },

      minute: {
        get () {
          return this.value.minute
        },

        set (value) {
          this.$emit('input', Object.assign({}, this.value, { minute: value }))
        }
      },

      period: {
        get () {
          return this.value.period
        },

        set (value) {
          this.$emit('input', Object.assign({}, this.value, { period: value }))
        }
      }
    }
  }
</script>

<style lang="scss">
  @import '../../assets/admin/settings/variables';

  .timepicker {
    display: flex;
    position: relative;
    margin-bottom: 0.5rem;

    label {
      font-size: 12px;
    }
  }
    .timepicker__hour,
    .timepicker__minute {
      width: 3rem;
      margin-bottom: 0;
      margin-right: 1rem;

      .mdc-textfield__input {
        text-align: center;
      }
    }
    .timepicker__colon {
      left: 3.5rem;
      position: absolute;
      padding-bottom: 8px;
    }
    .timepicker__period {
      .mdc-select {
        height: auto;
        max-width: 100%;
        font-size: 1rem;
        line-height: 1.15;
        padding-bottom: 8px;
      }
    }

    .timepicker__hour,
    .timepicker__minute,
    .timepicker__period {
      display: flex;
      flex-direction: column;
    }

    .mdc-form-field--invalid {
      .timepicker__hour .mdc-textfield__input,
      .timepicker__minute .mdc-textfield__input,
      .timepicker__period .mdc-select {
        border-bottom: 1px solid $mdc-theme-secondary;
      }
    }
</style>
