@import '../settings/variables';

@mixin button($color) {
	background: $color;
	&:hover,
	&:focus {
		background: darken($color, $gld4);
	}
}

.button {
	padding: 0.5rem 1rem;
	transition: all 0.2s cubic-bezier(0.4, 0, 0.6, 1);

	&--blue {
		color: $white;
		@include button($blue);
	}

	&--green {
		color: $white;
		@include button($green);
	}

	&--yellow {
		color: $white;
		@include button($yellow);
	}

	&--red {
		color: $white;
		@include button($red);
	}

	&--default {
		color: $dark;
		@include button($disabled);
	}

	&:disabled {
		color: $disabled !important;
		cursor: default;
	}
}

.link {
	color: $blue;
	text-decoration: underline;
}