@import '../settings/variables';
@import '../helpers/typography';
@import '../../globals/shadow';
@import '../../globals/clearfix';
@import '../../globals/breakpoints';

.cards {
	display: flex;
	flex-direction: row;

	.card {
		margin-right: $spacing-s;

		&:last-child {
			margin-right: 0;
		}
	}
}

.card {
	background: $white;
	border: 1px solid darken($white, $gld6 * 1%);
	border-radius: 2px;
	width: $gld10 * 1%;

	@include box_shadow(2);
}

.card--centered {
	margin-left: auto;
	margin-right: auto;
}

.card--fluid {
	width: 100%;
}

.card--horizontal {
  display: flex;
  flex-direction: row;

  & > .card__image {

  }

  & > .card__body {
  
  }
}

.card--with-table {
	// Have scroll without specifying height
	// by letting flex take care of height automatically 
	display: flex;
	flex-direction: column;

	.card__header {
		flex-shrink: 0;
		display: flex;
		align-items: center;
		
		height: 64px;
		padding-left: 24px;
		padding-right: 14px;
		font-size: 15px;
		
		color: rgba(#000, 0.54);
		text-transform: uppercase;

		.button {
			color: $blue;
			font-size: 1rem;
			line-height: normal;
			font-weight: inherit;

			&:first-child {
				padding-left: 0; // .card__header has padding-left
			}
		}
	}

	.table-wrapper {
		display: flex;
		flex-direction: column;
		overflow-x: auto;
	}

	.table { /* Fixed table inside card */
		display: flex;
		flex-flow: column;

		thead {
			flex: 0 0 auto; /* head takes the height it requires */
			width: 100%;
		}

		tbody {
			flex: 1 0 auto; /* body takes all the remaining available space */
			display: block;
			overflow-y: auto;
			overflow-x: hidden;
		}

		thead, .table__row {
			display: table;
			table-layout: fixed;
		}

		.table__row {
			width: 100%;
		}

		.table__row--empty {
			height: 100%;

			td {
				border-bottom: 0;
			}
		}
	}

	.table__info {
		height: 64px;
		flex-shrink: 0;
		font-size: 12px;
	}
}

  .card__header {
  	padding: $spacing-s;
  }

  	.primary-title {
  		@include text-subheading-2;
  	}

  	.primary-title--large {
  		@include text-headline;
  		padding-top: 0.5rem;
  	}

  	.secondary-title {
  		@include text-body-1;
  	}

  .card__body {
  	@include text-body-1;
	padding: $spacing-s;
  }

  .card__body > .card__header {
    padding-top: 0;
    padding-left: 0;
  }

  .card__header {
    font-size: 1.5rem;
    font-weight: 700;
  }

  .card__image {
    img {
      width: 100%;
      height: 100%;
    }
  }