@import '../../globals/shadow';

.dropdown {
  background: inherit;
  //padding: 0 1em;
  position: relative;
  cursor: pointer;
}

  .dropdown__text {
    padding-right: 1.5em;
  }

  .dropdown__caret-down {
    right: 0;
    top: 50%;
    position: absolute;
    display: inline-block;
    font-family: FontAwesome;
    transform: translateY(-50%);

    &::before {
      content: "\f0d7";
    }
  }

  .dropdown__menu {
    left: 0;
    width: 100%;
    z-index: -1;
    background: $white;
    overflow-y: hidden;
    position: absolute;
    transition-property: all;

    border: 1px solid rgba($dark, 0.15);
    border-top: 0;
  }
    .dropdown__item {
      padding: 0.75em 1em;
      color: $dark;
      display: block;
      cursor: pointer;
      line-height: normal;
      transition-property: background;

      &:hover {
        background: darken($white, $gld4 * 1%);
      }
    }