.mdc-form-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1rem;

  .form-label {
    padding-left: 0;
  }
}

.form-label {
  display: block;
  font-size: 12px;
  padding-left: 0;
  padding-bottom: 0.5rem;
  color: rgba($mdc-theme-primary-dark, 0.87);
}

.form-error {
  font-size: 12px;
  color: $mdc-theme-secondary;
}

.form-helper {
  font-size: 12px;
  color: rgba(#000, 0.54);
  padding-top: 8px;
}

.mdc-form-field--horizontal {
  flex-wrap: wrap;
  flex-direction: row;
}

.mdc-form-field--horizontal {
  .form-label,
  .form-error {
    width: 100%;
  }

  .mdc-select {
    margin-right: 1rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

.mdc-form-field--invalid {
  .form-label {
    color: $mdc-theme-secondary;
  }
}

.mdc-form-field--invalid {
  .mdc-select,
  .mdc-textfield:not(.mdc-textfield--upgraded) > .mdc-textfield__input,
  .mdc-textfield:not(.mdc-textfield--upgraded) > .mdc-textfield__input:focus {
    border-bottom-color: $mdc-theme-secondary;
  }

  .form-error {
    display: block;
  }
}

.mdc-textfield,
.mdc-textfield__input {
  width: 100%;
}

.mdc-textfield--invalid:not(.mdc-textfield--upgraded) {
  .mdc-textfield__input,
  .mdc-textfield__input:focus {
    border-bottom-color: $mdc-theme-secondary !important;
  }
}

.mdc-textfield--invalid + .mdc-textfield-helptext--validation-msg {
  color: $mdc-theme-secondary;
}

.mdc-radio-group {
  display: flex;
  align-items: center;
}
