@import '../settings/variables';
@import '~@material/typography/mdc-typography';

.meta {
  display: flex;
  flex-direction: column;
	margin-bottom: 1rem;
  list-style: none;
}
  .meta__property {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 4px;
    color: var(--mdc-theme-text-secondary-on-background)
  }

  .meta__content {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--mdc-theme-text-primary-on-background);
  }
