@import '../settings/variables';

.modal-wrapper {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  will-change: opacity;
  transition-property: opacity;
  background: rgba(0, 0, 0, 0.5);
}

.modal {
  width: $gld9 * 1%;
  font-size: 1rem;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2px;
  background-color: $white;
  transform: translateY(50%);
  transition-property: opacity, transform;
  will-change: opacity, transform;
  -webkit-user-select: none;
          backface-visibility: hidden;
}
  .modal__title {
    font-size: 1em;
    font-weight: 700;
  }

  .modal__text {
    color: $dark;
  }

.modal__buttons {
  display: flex;
  flex-direction: row-reverse;
}

  .modal__button-cancel {
    order: 2;
  }

  .modal__button-confirm {
    order: 1;
    margin-left: 1rem * $gld1
  }

.modal__header,
.modal__content,
.modal__buttons {
  padding: 1rem * $gld2;
}

.modal--info {
  .modal__header {
    color: $light;
    background: $blue;
  }

  .modal__button-confirm {
    @extend .button--blue;
  }
}

.modal--success {
  .modal__header {
    color: $light;
    background: $green;
  }

  .modal__button-confirm {
    @extend .button--green;
  }
}

.modal--warning {
  .modal__header {
    color: $light;
    background: $yellow;
  }

  .modal__button-confirm {
    @extend .button--yellow;
  }
}

.modal--danger {
  .modal__header {
    color: $light;
    background: $red;
  }

  .modal__button-confirm {
    @extend .button--red;
  }
}

  .modal__button-cancel {
    @extend .button--default
  }