@import '../settings/variables';

.navigation {
  background: $dark;

  &--vertical {
    .navigation__link {
      font-size: 1em;
      padding: 1em;
      width: 100%;
    }
  }
}

/* Right floated navigation */
.navigation--right {
  float: right;

  &::before, &::after {
    display: table;
    content: "";
  }

  &::after {
    clear: both;
  }

  .navigation__link,
  .navigation__item {
    &:last-child {
      padding-right: 0;
    }
  }
}

  .navigation__link,
  .navigation__item {
    color: $white;
    display: inline-block;
    padding: 0 1em;
  }

  .navigation__link {
    transition-property: color, background;

    &.is-active,
    &:hover {
      color: $white;
      background: lighten($dark, $gld6 * 1%);
    }

    &--active {
      color: $green;
    }
  }