@import '../settings/variables';
@import '../../globals/clearfix';

.table-wrapper {
  overflow-x: auto;
}

.table {
  border-spacing: 0;
	border-collapse: collapse;
	width: 100%;

	& > thead > tr > th {
    border-bottom: 1px solid rgba(#000, 0.12);
    box-sizing: content-box;

    height: 56px;
    text-align: left;
    line-height: 56px;
    white-space: nowrap;

    & > .sort {
      display: inline-block;
      width: 16px;
    }

    & > .label {
      font-size: 12px;
      font-weight: 500;
      display: inline-block;
      color: rgba(#000, 0.54);
    }

    & > .sort,
    & > .sort + .label {
      color: rgba(#000, 0.87);
    }
	}

  & > tbody > tr:hover {
    background: #EEE;
  }

	& > tbody > tr > td {
    border-bottom: 1px solid rgba(#000, 0.12);

    height: 48px;
    font-size: 13px;
    line-height: normal;
    color: rgba(#000, 0.87);
    white-space: nowrap;

    &:hover {
      cursor: pointer;
    }
  } 
}

.table--with-action {
  & > thead > tr > th:not(.unsortable),
  & > tbody > tr > td:not(.unsortable) {  
    cursor: pointer;
  }

  & > thead > tr > th:last-child,
  & > tbody > tr > td:last-child {
    width: 18px;
    color: rgba(#000, 0.54);
  }
}

.table--selectable {
  & > thead > tr > th:first-child,
  & > tbody > tr > td:first-child {
    width: 18px;
  }
}

.table__checkbox {
  width: 16px;
  height: 16px;
}

.table__row--selected {
  background: #F5F5F5;
}

.table__info {
  display: flex;
  font-size: 1rem;
  border-top: 1px solid rgba(#000, 0.1);
}
  .table__length,
  .table__navigation {
    display: flex;
    align-items: center; // Center inside items
  }
  
  .table__navigation{
    margin-left: auto;
  }

  .table__length-control {
    label, select {
      display: inline-block;
    }

    label {
      margin-right: 1rem * $gld2;
    }

    select {
      width: auto;
      background: transparent;
    }
  }
    .table__prev, .table__next {
      flex: 1;
      transition: none;
    }

    .table__prev {
      margin-right: (1rem * $gld2) / 2;
    }
    .table__next {
      margin-left: (1rem * $gld2) / 2;
    }

$tableHeaderHeight: 1rem * $gld4;

.table > thead > tr,
.table__info {
  height: $tableHeaderHeight;
}

.table__info,
.table > thead > tr > th:first-child,
.table > tbody > tr > td:first-child,
.table > thead > tr > th:nth-child(2),
.table > tbody > tr > td:nth-child(2) {
  padding-left: 24px;
}

.table > thead > tr > th,
.table > tbody > tr > td {
  padding-left: 56px;
}

.table__info,
.table > thead > tr > th:last-child,
.table > tbody > tr > td:last-child {
  padding-right: 24px;
}


.table-pagination {
  display: flex;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: flex-end;

  height: 56px;
  line-height: 56px;

  padding-left: 24px;
  padding-right: 14px;

  font-size: 12px;
  color: rgba(#000, 0.54);
}
  .table-pagination__limit {

    .mdc-select {
      border: 0;
    }
  }

    .table-pagination__per-page {
      margin-right: 40px;
    }

  .table-pagination__total {
    margin-left: 32px;
  }

  .table-pagination__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 32px;
  }

    .table-pagination__button {
      background: transparent;
      font-size: inherit;
      color: inherit;
      height: 24px;
      width: 24px;
      padding: 0;
      margin: 0;
      border: 0;

      & + .table-pagination__button {
        margin-left: 24px;
      }
    }