<template>
  <header class="mdc-toolbar" id="topbar">
    <div class="mdc-toolbar__row">
      <section class="mdc-toolbar__section mdc-toolbar__section--align-start" style="align-items: center;">
        <span class="mdc-toolbar__title" v-text="title"></span>
      </section>
      <section class="mdc-toolbar__section mdc-toolbar__section--align-end">
        <div style="display: flex; align-items: center;">
          <div v-text="fullname"></div>
          <md-menu>
            <md-button class="md-icon-button" md-menu-trigger>
              <md-icon>filter_list</md-icon>
            </md-button>

            <md-menu-content>
              <md-menu-item>Logout</md-menu-item>
            </md-menu-content>
          </md-menu>
        </div>
      </section>
    </div>

    <div class="mdc-toolbar__row">
      <section class="mdc-toolbar__section">
        <nav class="mdc-tab-bar">
          <router-link
            :to="{ name: 'dashboard' }"
            class="mdc-tab"
            v-text="'Dashboard'" />
          <router-link
            :to="{ name: 'customers' }"
            class="mdc-tab"
            v-text="'Customers'" />
          <router-link
            :to="{ name: 'boarding' }"
            class="mdc-tab"
            v-text="'Boarding'" />
          <router-link
            :to="{ name: 'reservation' }"
            class="mdc-tab"
            v-text="'Reservation'" />
          <router-link
            :to="{ name: 'appointments' }"
            class="mdc-tab"
            v-text="'Appointments'" />
          <router-link
            :to="{ name: 'settings' }"
            class="mdc-tab"
            v-text="'Settings'" />
          <span class="mdc-tab-bar__indicator" />
        </nav>
      </section>
    </div>
  </header>
</template>

<script>
  import {MDCTabBar} from '@material/tabs';

  export default {
    props: {
      fullname: {
        required: true,
        type: String
      }
    },

    mounted() {
      this.setPaddingTop()
      this.initializeTabBar()
    },

    computed: {
      title () {
        let title = this.$route.meta.title
        return title ? 'Vetline - ' + title : 'Vetline'
      },
    },

    data() {
      return {
        tabBar: null
      }
    },

    methods: {
      setPaddingTop () {
        let app = document.getElementById('app');
        let topbar = document.getElementById('topbar');
        app.style.paddingTop = topbar.offsetHeight + 'px';
      },

      initializeTabBar () {
        this.tabBar = MDCTabBar.attachTo(document.querySelector('.mdc-tab-bar'));     
      }
    },

    watch: {
      '$route': function () {
        this.$nextTick(() => {
          let activeTabIndex = this.tabBar.tabs_.findIndex((tab) => {
            return tab.root_.classList.contains('mdc-tab--active')
          })
          if (activeTabIndex > -1) {
            this.tabBar.setActiveTabIndex_(activeTabIndex);
          }
        })
      }
    }
  }
</script>
