@import '../../../globals/breakpoints';
@import '../../settings/variables';
@import '~@material/typography/mdc-typography';
@import '~@material/elevation/mdc-elevation';

#app-main {
  padding: 0;
}

#toolbar-profile {
  background-color: #fff;
  @include mdc-elevation(2);

  .mdc-tab {
    color: var(--mdc-theme-text-primary-on-background);
  }
}

#page-cover {
  background-image: url('/images/admin/profile-cover.png');
  background-size: cover;
  background-position: bottom center;
  height: 320px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  position: relative;
  padding: 2rem;
}

  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
    .profile__image {
      width: 100px;
      height: 100px;
      display: block;
      border-radius: 50%;
      margin-bottom: 1rem;
    }

    .profile__name {
      @include mdc-typography(display1);
      color: var(--mdc-theme-text-primary-on-primary);
      text-align: center;
    }

    .profile__username {
      @include mdc-typography(headline);
      color: var(--mdc-theme-text-primary-on-primary);
      text-align: center;
    }

.mdc-tab-bar {
}

.content {
  z-index: 2;
  position: relative;

  display: flex;
  flex-direction: column;
  padding: 0 2rem 2rem;
}

#card-profile {
  margin-bottom: 1rem;
}

@include medium-screen {
  #page-cover {
    align-items: flex-end;
    justify-content: flex-start;
  }
    .profile {
      flex-direction: row;
    }
      .profile__image {
        margin-right: 1rem;
        margin-bottom: 0;
      }

      .profile__username {
        text-align: left;
      }

  .content {
    padding-top: 2rem;
    flex-direction: row;
  }

  #card-profile {
    width: 1% * $gld9;
    margin-right: 1rem;
    margin-bottom: 0;
  }

  #card-pets {
    width: 100% - (1% * $gld9);
    justify-content: flex-start;
  }
}

  .no-pets {
    text-align: center;
  }
