@import '../globals//variables';
@import '../globals/breakpoints';
@import '~vue-material/dist/vue-material.css';
@import '~material-components-web/material-components-web';

* {
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: inherit;
  }
}

.flex {
  display: flex;

  &:not(.flex--vertical).flex--center-v {
    align-items: center;
  }

  &:not(.flex--vertical).flex--center-h {
    justify-content: center;
  }
}

.flex--vertical {
  flex-direction: column;

  &.flex--center-v {
    justify-content: center;
  }

  &.flex--center-h {
    align-items: center;
  }
}

html, body {
  height: 100%;
}

body {
  padding-top: 64px;
}

body > div > section {
  padding: 5rem 0 5rem;

  &:nth-child(even) {
    background-color: #f5f5f5;
  }

  &:nth-child(odd) {
    background-color: #fff;
  }
}

section > .flex {
  width: 50%;
}

h1 {
  @include mdc-typography(display3);
}

h2 {
  text-align: center;
  margin: 0 auto 5rem;
  color: rgba(#000, 0.87);
  @include mdc-typography(display2);
}

#nav {
  background-color: #fff;
}

#landing {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('/images/team.jpg');

  position: relative;
  overflow: hidden;
  color: #fff;
  padding: 0;

  h1 {
    z-index: 2;
  }
}
  .tagline {
    width: 50%;
    z-index: 2;
    text-align: center;
    @include mdc-typography(subheading2);
  }
  .overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: rgba(#000, 0.38);
  }

#location, #contact-form {
  width: 50%;
}

#contact {
  padding: 0;
}
  #contact-form {
    padding: 2rem;
  }

.mdc-card {
  background: #fff;
}
  .mdc-card__media {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 12rem;
  }
  .mdc-card__supporting-text {
    color: rgba(#000, 0.54);
  }

/* Services Section */

#services {
  padding-bottom: 0;
}

.services {
  width: 100%;
}
  .service {
    display: flex;
    flex-direction: row;
    height: 18rem;

    &:nth-child(odd) .service__primary {
      background-color: #f5f5f5;
    }
    &:nth-child(even) .service__primary {
      background-color: #fff;
    }
  }
    .service__image {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
    .service__primary {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .service__title {
      margin: 0;
      color: rgba(#000, 0.87);
      padding: 0 1.5rem;
      @include mdc-typography(headline);
    }
    .service__description {
      margin: 0;
      padding: 1rem 1.5rem;
      color: rgba(#000, 0.54);
      @include mdc-typography(subheading2);
    }
    .service__image,
    .service__primary {
      width: 50%;
    }

#service-groom .service__image {
  background-image: url('/images/services1.jpg');
}

#service-boarding .service__image {
  background-image: url('/images/services2.jpg');
}

#service-surgery .service__image {
  background-position: center top;
  background-image: url('/images/services3.jpg');
}

#service-laboratory .service__image {
  background-position: center top;
  background-image: url('/images/services4.jpg');
}

/* App Section */

#app {
  padding-top: 0;
  padding-bottom: 0;
}
  .app__image {
    width: 100%;
  }
  .app__title {
    text-align: left;
    margin: 0 0 2rem;
  }
  .app__description {
    margin: 0;
    padding: 0 0 1rem;
    color: rgba(#000, 0.54);
    @include mdc-typography(subheading2);
  }
  .app__link {
    img {
      width: 160px;
    }
  }

/* Schedule Section */
#list-schedule {
  width: 50%;
}

.schedule {
  display: flex;
  padding: 0 1rem;

  &:nth-child(even) {
    background: #f5f5f5;
  }
}
  .schedule__day,
  .schedule__time {
    width: 50%;
  }


.veterinarians {
  width: 100%;
  display: flex;
  justify-content: center;  
}

.veterinarian {
  flex: 1;
  margin: 0 1rem;
  .mdc-card__primary {
    text-align: center;
  }
}

#vet-editha .mdc-card__media {
  background-position: center 10%;
  background-image: url('/images/team/editha.jpg');
}

#vet-kristina .mdc-card__media {
  background-position: center 10%;
  background-image: url('/images/team/kristina.jpg');
}

#vet-mia .mdc-card__media {
  background-position: center 10%;
  background-image: url('/images/team/mia.jpg');
}

#vet-mich .mdc-card__media {
  background-position: center 0;
  background-image: url('/images/team/michelle.jpg');
}

#vet-myra .mdc-card__media {
  background-position: center 10%;
  background-image: url('/images/team/myra.jpg');
}
