@import 'settings/variables';
@import '../globals/breakpoints';

@import '~vue-material/dist/vue-material.css';
@import '~material-components-web/material-components-web';

@import 'components/meta';
@import 'components/form';

* {
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: inherit;
  }
}

html, body, #app, #app-main {
  height: 100%;
}

body {
  overflow-x: hidden;
  background: rgb(241,241,241);

  --mdc-theme-text-primary-on-primary: rgba(#fff, 1);
  --mdc-theme-text-secondary-on-primary: rgba(#fff, 0.7);
  --mdc-theme-text-hint-on-primary: rgba(#fff, 0.5);
  --mdc-theme-text-disabled-on-primary: rgba(#fff, 0.5);
  --mdc-theme-text-icon-on-primary: rgba(#fff, 0.5);

  --mdc-theme-text-primary-on-secondary: rgba(#fff, 1);
  --mdc-theme-text-secondary-on-secondary: rgba(#fff, 0.7);
  --mdc-theme-text-hint-on-secondary: rgba(#fff, 0.5);
  --mdc-theme-text-disabled-on-secondary: rgba(#fff, 0.5);
  --mdc-theme-text-icon-on-secondary: rgba(#fff, 0.5);

  --mdc-theme-text-primary-on-background: rgba(#000, 0.87);
  --mdc-theme-text-secondary-on-background: rgba(#000, 0.54);
  --mdc-theme-text-hint-on-background: rgba(#000, 0.38);
  --mdc-theme-text-disabled-on-background: rgba(#000, 0.38);
  --mdc-theme-text-icon-on-background: rgba(#000, 0.38);
}

button {
  &:focus,
  &:active {
    outline: none;
  }
}

a.mdc-fab {
  display: flex;
  align-items: center;
  text-decoration: none;
}

/* OVERRIDE vue-material styles */

.md-progress {
  background-color: rgba($mdc-theme-accent, 0.38) !important;
}
.md-progress-track::before,
.md-progress-track::after {
  background-color: $mdc-theme-accent !important;
}

.md-theme-default.md-tabs>.md-tabs-navigation {
  background: $mdc-theme-primary !important;
}

.md-theme-default.md-button:not([disabled]).md-primary.md-raised,
.md-theme-default.md-button:not([disabled]).md-primary.md-fab {
  background-color: $mdc-theme-primary !important;
}

.md-list-item .md-list-item-container .md-list-action {
  margin-right: 0 !important;
}

.md-input-focused::after {
  background-color: $mdc-theme-primary !important;
}

.md-input-focused .md-input {
  color: $mdc-theme-primary !important;
}

.md-theme-default.md-button:not([disabled]).md-primary.md-icon-button:not(.md-raised) {
  color: $mdc-theme-primary !important;
}

.md-button.md-icon-button,
.md-button.md-fab {
  color: rgba(0,0,0,0.54);
  .md-icon {
    color: inherit;
    display: block;
  }
}

.md-list-item--active {
  background-color: #E0E0E0;
}

#sidebar .mdc-list-item {
  color: inherit !important;
  text-decoration: none;
}

.md-title a {
  color: $mdc-theme-primary !important;
}

.md-fab {
  color: #fff !important;
  background-color: $mdc-theme-secondary !important;
  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;
}

a.mdc-tab {
  text-decoration: none !important;
}


/* Loading bar at the top */
.nprogress-container {
  width: 100%;
  z-index: 999;
  height: 10px;
  pointer-events: none;
  position: fixed !important;
  top: 0;
  #nprogress {
    .bar {
      background: $mdc-theme-secondary;
    }
  }
}

#app {
  padding-top: 56px; // #topbar height

  @include small-screen {
    padding-top: 64px;
  }
}

#sidebar {
  // @include mdc-elevation(8);

  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  // z-index: 4;
  // height: 100%;
  // border-right: 0;
  // transform: translateX(-100%);
  // transition: transorm 0.2s $mdc-animation-sharp-curve-timing-function;
  // -webkit-transition: -webkit-transform 0.2s $mdc-animation-sharp-curve-timing-function;
  
  .drawer{
    color: #fff;
    background-color: #303030;
    transition: all 0.2s $mdc-animation-sharp-curve-timing-function !important;
  }

  .brand {
    color: inherit;
    text-align: center;
    background-color: #212121;
    @include mdc-typography('headline');
    @include mdc-elevation(1);
  }

  .user {
    padding: 1.5rem;
    background: #424242;
  }

    .user__actions {
      margin-top: 0.5rem;

      a {
        font-size: 13px;
        font-weight: 500;
        color: $mdc-theme-secondary !important;
        text-decoration: none;
        text-transform: uppercase;
      }
    }

  .mdc-list {
    color: rgba(#fff, 0.7);
  }

  .mdc-list-item { 
    &:not(.mdc-list-item--active):hover {
      background-color: transparent;
    }
  }

  .mdc-list-item--active {
    color: #ffffff !important;
    background: $mdc-theme-primary;
  }
}

/* The Fixed top toolbar */
#topbar {
  @include mdc-elevation(2);
  position: fixed;
  right: 0;
  left: 0;
  top: 0;

  // background: $mdc-theme-background;
  // color: var(--mdc-theme-text-on-background, rgba(0,0,0,0.87));
  flex-shrink: 0;
  z-index: 3;

  .mdc-fab {
    margin-bottom: -26px;
  }
}

  .mdc-toolbar__button {
    color: inherit;
    background: none;
    border: none;
  }

/* Main view itself */
#app-main  {
  position: relative;
  width: 100%;
  padding: 0;
}

#topbar,
#app-main {
  will-change: margin-left, width;
  transition: all 0.2s $mdc-animation-sharp-curve-timing-function;
}

@include medium-screen {
  #sidebar {
    .drawer {
      border-right: 0;
      transform: translateX(-100%) !important;
    }

    &.mdc-persistent-drawer--open .drawer {
      transform: translateX(0) !important;
    }

    &.mdc-persistent-drawer--open ~ #topbar,
    &.mdc-persistent-drawer--open ~ #app-main {
      width: calc(100% - 240px);
      margin-left: 240px;
    }
  }

  #app-main {
    padding: 2rem;
  }
}

  #page-cover {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background-color: $mdc-theme-primary-dark;
    background-image: url('/images/admin/page-cover-2.png');
    background-size: cover;
    height: 240px;
  }

  #page-content {
    z-index: 2;
    display: flex;
    flex-direction: column;
    position: relative;
  }

    #page-header {
      padding: 1.5rem 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      color: #fff;
    }
      #page-title {
        @include mdc-typography('headline');
      }

.mdc-card {
  background: $mdc-theme-background;
}
  .mdc-card__title--large {
    font-weight: 500;
  }
  .full-height {
    height: 100%;
  }

.mdc-dialog {
  z-index: 5;
}
  .mdc-dialog__surface {
    &--mini {
      width: 20rem;
      min-width: 20rem;
    }

    &--medium {
      width: 30rem;
      min-width: 30rem;
    }
  }
  .mdc-dialog__footer__button {
    color: var(--mdc-theme-text-hint-on-background);
  }
  .mdc-dialog__footer__button--accept {
    color: $mdc-theme-primary;
  }

// Needed to reset the box-sizing set by the wildcard rule.
.mdc-list-item {
  box-sizing: content-box;
}

.mdc-snackbar {
  z-index: 4;
}

/* Custom unstyled button */
.button {
  border: 0;
  padding: 0.5rem;
  outline: none;
  cursor: pointer;
  background: none;
  color: var(--mdc-theme-text-primary-on-light, rgba(0,0,0,0.87));

  &:disabled {
    cursor: not-allowed;
  }
}

.button-table {
  color: rgba(#000, 0.54);
}

.flex {
  display: flex;
}

.searchfield {
  display: flex;
  align-items: center;
  border-radius: 4px;
  color: rgba(#fff, 0.5);
  background: rgba(#fff, 0.16);
  width: 100%;
  max-width: 720px;
  transition: background 0.15s $mdc-animation-sharp-curve-timing-function;
}
  .searchfield__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    font-size: 24px;
    color: inherit;
  }
  .searchfield__input-wrapper {
    flex: 1;
    position: relative;
    padding: 0 16px;
  }
  .searchfield__input {
    border: 0;
    height: 48px;
    width: 100%;
    position: relative;
    background: transparent;
    color: inherit;

    &:focus {
      outline: 0;
    }
  }
  .searchfield__input-placeholder {
    opacity: 0.5;
    position: absolute;
  }
.searchfield--active {
  background: #fff;
  color: rgba(#000, 0.54);
}

.mdc-card__title-has-toggle {
  display: flex;
  align-items: center;
}

.card-toggle {
  margin-left: auto;
  .mdc-icon-toggle {
    --mdc-ripple-fg-size: 1.5rem !important;
    --mdc-ripple-top: 0 !important;
    --mdc-ripple-left: 0 !important;

    font-size: 1rem;
    height: 1.5rem;
    width: 1.5rem;
    padding: 0;
    outline: 0;
    border: 0;
    background: #fff;
  }
}
