* {
  box-sizing: border-box;
  position: relative;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
  font-family: 'Raleway', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Open Sans', sans-serif;
}

main {
	background-size: cover;
	background-position: center center;
	background-image: url('/images/admin/login.jpg');
	height: 100%;
}

.overlay {
	background-color: rgba(#112233, 0.5);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}

.content {
	position: relative;
  padding-top: 20vh;
	z-index: 3;
}

.card {
  width: 25em;
  display: block;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 5px;
  background-color: #FFF;
}
  .card-header {
    color: #FFF;
    padding: 1em;
    font-size: 2em;
    font-weight: 700;
    text-align: center;
    margin-bottom: 24px;
    background-color: #66CC99;
  }

.group {
  margin-bottom: 20px;
  position: relative;
}

form {
  padding: 2em;
}

label,
input {
  display: block;
}

input {
  border: 0;
  outline: 0;
  width: 100%;
  padding: 8px;
  height: 40px;
  color: #212121;
  box-shadow: none;
  line-height: 40px;
  border-radius: 5px;
  background: #F0F1F5;
}

label {
  color: #212121;
  margin-bottom: 8px;
  text-transform: uppercase;
}

button {
  border: 0;
  outline: 0;
  padding: 0;
  width: 100%;
  color: #fff;
  min-width: 64px;
  cursor: pointer;
  margin-top: 8px;
  min-height: 40px;
  line-height: 40px;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
  background-color: #66CC99;
  transition: all 0.2s cubic-bezier(0.4, 0.0, 0.6, 1);

  &:hover {
    background-color: darken(#66CC99, 10%);
  }
}