<template>
  <md-dialog
    md-open-from="#btn-board"
    md-close-to="#btn-board"
    @close="reset"
    ref="dialog">
    <md-dialog-title>Board Pet</md-dialog-title>

    <md-dialog-content style="width: 30rem;">
      <form @submit.prevent>
        <md-input-container :class="{ 'md-input-invalid': error }">
          <label>Pet</label>
          <md-autocomplete
            @selected="onSelected"
            v-model="pet.name"
            :debounce="300"
            :fetch="onFetch"
            print-attribute="name"></md-autocomplete>
            <span class="md-error" v-text="error"></span>
        </md-input-container>
      </form>
    </md-dialog-content>

    <md-dialog-actions>
      <md-button @click="close">Cancel</md-button>
      <md-button class="md-primary" @click="submit" :disabled="loading">Board</md-button>
    </md-dialog-actions>
  </md-dialog>
</template>

<script>
  import PetRepository from '../../repositories/Pet';
  import CageRepository from '../../repositories/Cage';

  export default {
    data () {
      return {
        pet: {
          id: '',
          name: ''
        },

        error: null,

        loading: false
      }
    },

    methods: {
      open () {
        this.$refs.dialog.open()
      },

      close () {
        this.$refs.dialog.close()
      },

      reset() {
        Object.assign(this.$data, this.$options.data())
      },

      onFetch ({ q }) {
        return new Promise((resolve, reject) => {
          PetRepository.search(q).then(pets => {
            resolve(pets.map(pet => ({
              name: `${pet.name} (${pet.customer.name})`,
              id: pet.id
            })))
          }).catch(() => {
            reject()
          })
        })
      },

      onSelected (pet) {
        this.pet = pet
      },

      submit () {
        if (!this.loading) {
          this.loading = true
          
          CageRepository.board(this.pet.id)
            .then(this.onSubmitSuccess)
            .catch(this.onSubmitFail)
        }
      },

      onSubmitSuccess () {
        this.close()
        this.$root.$refs.snackbar.show({
          message: 'Pet boarded'
        })
      },

      onSubmitFail (error) {
        this.loading = false
        this.error = error
      }
    }
  }
</script>
