<template>
  <div style="padding: 0;">
    <div v-if="cages && cages.length === 0" class="empty">No Reservations</div>
    <div v-else class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell"
          v-for="(cage, index) in cages">
          <reservation
            :name="getFullname(cage.customer)"
            avatar="/images/customers/sample.jpg"
            :link="cage.customer.link"
            :date="new Date(cage.updated_at)"
            @cancel="wantsRelease(cage, index)" />
        </div>
      </div>
    </div>

    <cage-vacate
      :cage="selectedCage"
      title="Cancel Reservation"
      :message="getVacateMessage(selectedCage.customer)"
      @released="onReleased"
      ref="vacate" />

    <cage-reserve ref="reserve" />

    <md-button
      type="button"
      id="btn-reserve"
      class="md-fab"
      @click="wantsReserve">
      <md-icon>add</md-icon>
    </md-button>
  </div>
</template>

<script>
  import Reservation from './reservation';
  import CageReserve from './reserve';
  import CageVacate from './vacate';
  import CageRepository from '../../repositories/Cage';

  export default {
    components: {
      Reservation,
      CageReserve,
      CageVacate
    },

    beforeRouteEnter (to, from, next) {
      CageRepository.fetchReserved()
        .then(() => { next() })
    },

    beforeRouteLeave (to, from, next) {
      // If routing to boarding which uses the same repository,
      // make a copy of it locally because it will rewrite the
      // values inside since Repositories are singletons.
      this.repository = Object.assign({}, this.repository)
      next()
    },

    data () {
      return {
        repository: CageRepository,
        selectedCage: {
          customer: {}          
        },
        error: ''
      }
    },

    computed: {
      cages () {
        return this.repository.cages
      }
    },

    methods: {
      getFullname(customer) {
        return `${customer.firstname} ${customer.middlename || ''} ${customer.lastname}`
      },

      getVacateMessage(customer) {
        return `Cancel ${customer.firstname}'s reservation?`
      },

      wantsRelease (cage, index) {
        this.selectedCage = Object.assign(cage, { index: index + 1 })

        // Wait for props to change to prevent
        // error on `vacate.vue`
        this.$nextTick(() => {
          this.$refs.vacate.open()          
        })
      },

      onReleased() {
        this.$root.$refs.snackbar.show({
          message: 'Reservation cancelled'
        })
      },

      wantsReserve () {
        this.$refs.reserve.open()
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import '../../assets/globals/breakpoints';

  .empty {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .md-fab {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
  }

  @include small-screen {
    .md-fab {
      bottom: 1.5rem;
      right: 0.5rem;
    }
  }
</style>
