<template>
  <div style="padding: 0;">
    <div v-if="cages && cages.length === 0" class="empty">No boarded pets</div>
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell"
          v-for="(cage, index) in cages">
          <cage
            :name="cage.pet.name"
            :avatar="cage.pet.image + '?q=' + Math.random()"
            :date="new Date(cage.updated_at)"
            :link="cage.pet.link"
            @release="wantsRelease(cage, index)"></cage>
        </div>
      </div>
    </div>

    <cage-vacate
      :cage="selectedCage"
      title="Release pet"
      :message="getVacateMessage(selectedCage.pet)"
      ref="vacate" />

    <cage-board ref="board" />

    <md-button
      type="button"
      id="btn-board"
      class="md-fab"
      @click="wantsBoard">
      <md-icon>add</md-icon>
    </md-button>
  </div>
</template>

<script>
  import Cage from './cage';
  import CageBoard from './board';
  import CageVacate from './vacate';
  import CageRepository from '../../repositories/Cage';

  export default {
    components: {
      Cage,
      CageBoard,
      CageVacate
    },

    beforeRouteEnter (to, from, next) {
      CageRepository.fetchBoarded()
        .then(() => { next() })
    },

    beforeRouteLeave (to, from, next) {
      // If routing to boarding which uses the same repository,
      // make a copy of it locally because it will rewrite the
      // values inside since Repositories are singletons.
      this.repository = Object.assign({}, this.repository)
      next()
    },

    data () {
      return {
        repository: CageRepository,
        selectedCage: {
          pet: {}
        },
        error: ''
      }
    },

    computed: {
      cages () {
        return this.repository.cages
      }
    },

    methods: {
      getVacateMessage(pet) {
        return `Release ${pet.name} from cage?`
      },

      wantsRelease (cage, index) {
        this.selectedCage = Object.assign(cage, { index: index + 1 })

        // Wait for props to change to prevent
        // error on `vacate.vue`
        this.$nextTick(() => {
          this.$refs.vacate.open()          
        })
      },

      wantsBoard () {
        this.$refs.board.open()
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import '../../assets/globals/breakpoints';

  .md-fab {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 3;
  }

  @include small-screen {
    .md-fab {
      bottom: 1.5rem;
      right: 0.5rem;
    }
  }
</style>
