<template>
  <md-dialog
    md-open-from="#btn-reserve"
    md-close-to="#btn-reserve"
    @close="reset"
    ref="dialog">
    <md-dialog-title>Reserve Cage</md-dialog-title>

    <md-dialog-content style="width: 30rem;">
      <form @submit.prevent>
        <md-input-container :class="{ 'md-input-invalid': error }">
          <label>Customer</label>
          <md-autocomplete
            @selected="onSelected"
            v-model="customer.name"
            :debounce="300"
            :fetch="onFetch"
            print-attribute="name"></md-autocomplete>
            <span class="md-error" v-text="error"></span>
        </md-input-container>
      </form>
    </md-dialog-content>

    <md-dialog-actions>
      <md-button @click="close">Cancel</md-button>
      <md-button class="md-primary" @click="submit" :disabled="loading">Reserve</md-button>
    </md-dialog-actions>
  </md-dialog>
</template>

<script>
  import CustomerRepository from '../../repositories/Customer';
  import CageRepository from '../../repositories/Cage';

  export default {
    data () {
      return {
        customer: {
          id: '',
          name: ''
        },

        error: null,

        loading: false
      }
    },

    methods: {
      open () {
        this.$refs.dialog.open()
      },

      close () {
        this.$refs.dialog.close()
      },

      reset() {
        Object.assign(this.$data, this.$options.data())
      },

      onFetch ({ q }) {
        return new Promise((resolve, reject) => {
          CustomerRepository.search(q).then(customers => {
            resolve(customers.map(customer => ({
              name: `${customer.firstname} ${customer.middlename || ''} ${customer.lastname}`,
              id: customer.id
            })))
          }).catch(() => {
            reject()
          })
        })
      },

      onSelected (customer) {
        this.customer = customer
      },

      submit () {
        if (!this.loading) {
          this.loading = true
          
          CageRepository.reserve(this.customer.id)
            .then(this.onSubmitSuccess)
            .catch(this.onSubmitFail)
        }
      },

      onSubmitSuccess () {
        this.close()
        this.$root.$refs.snackbar.show({
          message: 'Cage reserved'
        })
      },

      onSubmitFail (error) {
        this.loading = false
        this.error = error
      }
    }
  }
</script>
