<template>
  <md-card>
    <md-card-header>
      <md-card-header-text>
        <div class="md-title">
          <router-link :to="link" v-text="name" />
        </div>
        <div class="md-subhead">Reserved {{ _time }}</div>
      </md-card-header-text>

      <md-card-media>
        <router-link :to="link">
          <img :src="avatar">
        </router-link>
      </md-card-media>
    </md-card-header>

    <md-card-actions>
      <md-button @click="cancel">Cancel</md-button>
    </md-card-actions>
  </md-card>
</template>

<script>
  import {distanceInWordsToNow} from 'date-fns';

  export default {
    props: {
      avatar: {
        required: true,
        type: String
      },

      name: {
        required: true,
        type: String
      },

      date: {
        required: true,
        type: Date
      },

      link: {
        required: true,
        type: String
      },
    },

    computed: {
      _time () {
        return distanceInWordsToNow(this.date)
      }
    },

    methods: {
      cancel () {
        this.$emit('cancel')
      },
    }
  }
</script>
