<template>
  <md-dialog
    :md-open-from="location"
    :md-close-to="location"
    @close="reset"
    ref="dialog">
    <md-dialog-title v-text="title"></md-dialog-title>

    <md-dialog-content>
      <p v-text="message"></p>
    </md-dialog-content>

    <md-dialog-actions>
      <md-button @click="close">Cancel</md-button>
      <md-button class="md-primary" @click="submit" :disabled="loading">Release</md-button>
    </md-dialog-actions>
  </md-dialog>
</template>

<script>
  import CageRepository from '../../repositories/Cage';
  export default {
    props: {
      cage: {
        required: true,
        type: Object
      },
      title: {
        required: true,
        type: String
      },
      message: {
        required: true,
        type: String
      }
    },

    data() {
      return {
        loading: false
      }
    },

    computed: {
      // Location where dialog will open
      location() {
        return this.cage
          ? `.mdc-layout-grid__cell:nth-child(${this.cage.index}) .md-button`
          : ''
      }
    },

    methods: {
      open() {
        this.$refs.dialog.open()
      },

      close () {
        this.$refs.dialog.close()
      },

      submit () {
        CageRepository.vacate(this.cage.id)
          .then(this.onSubmitSuccess)
      },

      onSubmitSuccess () {
        this.close()
        this.$emit('released')
      },

      reset () {
        Object.assign(this.$data, this.$options.data)
      }
    }
  }
</script>
