<template>
	<form v-on:submit.prevent="submit">
		<div class="mdc-card">
			<div class="mdc-card__primary">
				<h3 class="mdc-card__title mdc-card__title--large">Date</h3>
			</div>

			<div class="mdc-card__supporting-text">
				<datepicker v-model="date"></datepicker>
			</div>
		</div>

		<div class="mdc-card">
			<div class="mdc-card__primary">
				<h3 class="mdc-card__title mdc-card__title--large">Complaint</h3>
			</div>

			<div class="mdc-card__supporting-text">
				<div class="mdc-form-field" :class="{ 'mdc-form-field--invalid': !!errors.complaint }">
					<div class="mdc-textfield">
						<input type="text" class="mdc-textfield__input" v-model="complaint">
					</div>
					<div class="form-error" v-text="errors.complaint"></div>
				</div>
			</div>
		</div>

		<div class="mdc-card">
			<div class="mdc-card__primary">
				<h3 class="mdc-card__title mdc-card__title--large">History</h3>
			</div>

			<div class="mdc-card__supporting-text">
				<div class="mdc-form-field">
					<div class="mdc-textfield">
						<input type="text" class="mdc-textfield__input" v-model="history">
					</div>
				</div>
			</div>
		</div>

		<div class="mdc-card" id="card-observation">
			<div class="mdc-card__primary">
				<div class="mdc-card__title mdc-card__title--large">Observation</div>
			</div>

			<div class="mdc-card__supporting-text">
				<quill :options="editorOptions" v-model="observation"></quill>
			</div>
		</div>

		<div class="mdc-card">
			<div class="mdc-card__primary">
				<h3 class="mdc-card__title mdc-card__title--large">Procedures</h3>
			</div>

			<div class="mdc-card__supporting-text checkboxes">
				<div
					class="mdc-form-field mdc-form-field--horizontal"
					style="align-items: center; margin-bottom: 0;"
					v-for="(p,id) in procedures">
					<m-checkbox v-model="procedures[id].selected"></m-checkbox>
					<label v-text="p.name"></label>
				</div>
			</div>
		</div>

		<div class="mdc-card">
			<div class="mdc-card__primary">
				<h3 class="mdc-card__title mdc-card__title--large">Diagnosis</h3>
			</div>

			<div class="mdc-card__supporting-text">
				<div class="mdc-form-field">
					<div class="mdc-textfield">
						<input type="text" class="mdc-textfield__input" v-model="diagnosis">
					</div>
				</div>
			</div>
		</div>

		<div class="mdc-card">
			<div class="mdc-card__primary">
				<h3 class="mdc-card__title mdc-card__title--large">Treatments</h3>
			</div>

			<div class="mdc-card__supporting-text checkboxes">
				<div
					class="mdc-form-field mdc-form-field--horizontal"
					style="align-items: center; margin-bottom: 0;"
					v-for="(t,id) in treatments">
					<m-checkbox v-model="treatments[id].selected"></m-checkbox>
					<label v-text="t.name"></label>
				</div>
			</div>
		</div>

		<div class="mdc-card">
			<div class="mdc-card__primary">
				<h3 class="mdc-card__title mdc-card__title--large">Vaccines</h3>
			</div>

			<div class="mdc-card__supporting-text">
				<vaccine
					v-for="(vaccine, index) in vaccines"
					v-model="vaccines[index]"
					:key="index"
					:name="vaccine.name"
					:date="vaccine.date"
					:error="errors.vaccines[index]"
					@add="addVaccine"
					@remove="removeVaccine(index)"></vaccine>
			</div>
		</div>

		<div style="text-align: right;">
			<router-link class="mdc-button" :to="cancelLink">Cancel</router-link>
			<button class="mdc-button mdc-button--raised mdc-button--primary" type="submit">Save</button>
		</div>
	</form>
</template>

<script>
	import axios from 'axios';
	import set from 'lodash/set';
	import {format} from 'date-fns';
	import Vaccine from './Vaccine';
	import Procedure from './Procedure';
	import Treatment from './Treatment';
	import difference from 'lodash/difference';
	import {quillEditor} from 'vue-quill-editor';
	import MCheckbox from '../components/MCheckbox';
	import Datepicker from '../components/Datepicker';
	import MedicalRepository from '../../repositories/Medical';

	const observation = [
		'Weight',
		'Temperature',
		'HR/RR',
		'CRT/Mucous Mem',
		'Lympnodes',
		'Nose',
		'Eyes',
		'Ears',
		'Teeth',
		'Skin/Hair',
		'Forelimb',
		'Hind limb',
		'Gait',
		'Stool',
		'Other observation'
	]
	.map(attr => '<p><b>'+ attr +'</b>:</p>')
	.join('');

	export default {
		beforeRouteEnter(to, from, next) {
			let requests = [
				axios.get('/api/v1/procedures'),
				axios.get('/api/v1/treatments')
			]

			// If we're editing, we need to fetch the record also
			if (to.params.mID) {
				requests.push(MedicalRepository.fetchById(to.params.mID))
			}

			Promise.all(requests).then(([procedures, treatments, medical]) => {
				next(vm => {
					vm.procedures = procedures.data.reduce(function (prev, p) {
						prev[p.id] = { name: p.name, selected: false }
						return prev
					}, {})

					vm.treatments = treatments.data.reduce(function (prev, t) {
						prev[t.id] = { name: t.name, selected: false }
						return prev
					}, {})

					if (medical) {
						vm.complaint = medical.complaint
						vm.history = medical.history
						vm.observation = medical.observation
						vm.diagnosis = medical.diagnosis
						vm.date = vm.dateToObject(new Date(medical.date))

						if (medical.procedures.length > 0) {
							medical.procedures.forEach(m => {
								vm.procedures[m.id].selected = true
							})
						}

						if (medical.treatments.length > 0) {
							medical.treatments.map(t => {
								vm.treatments[t.id].selected = true
							})
						}

						if (medical.vaccines.length > 0) {
							vm.vaccines = medical.vaccines.map(v => {
								let date = new Date(v.next);
								return { name: v.name, date: vm.dateToObject(date) }
							})
						}
					}
				})
			})
		},

		components: {
			Quill: quillEditor,
			Vaccine,
			Procedure,
			Treatment,
			MCheckbox,
			Datepicker
		},

		data () {
			return {
				loading: false,

				complaint: '',
				history: '',
				observation: observation,
				diagnosis: '',

				procedures: {},
				treatments: {},

				vaccines: [
					{
						name: '',
						date: this.defaultDate()
					}
				],

				date: this.defaultDate(),

				errors: {
					complaint: '',
					vaccines: []
				}
			}
		},

		computed: {
			pID () {
				return this.$route.params.id
			},

			mID () {
				return this.$route.params.mID
			},

			cancelLink () {
				if (this.mID) {
					return '/admin/pets/' + this.pID + '/medicals/' + this.mID
				}
				return '/admin/pets/' + this.pID
			},

			formData () {
				return {
					complaint: this.complaint,
					history: this.history,
					observation: this.observation,
					diagnosis: this.diagnosis,
					procedures: Object.keys(this.procedures).filter(p => this.procedures[p].selected),
					treatments: Object.keys(this.treatments).filter(t => this.treatments[t].selected),
					vaccines: this.vaccines.filter(v => v.name).map(v => {
						return {
							name: v.name,
							next: this.dateToString(this.objectToDate(v.date))
						}
					}),
					date: this.dateToString(this.objectToDate(this.date)),
					pet_id: this.pID
				}
			},

			editorOptions() {
				return {
					modules: {
						toolbar: [
							[{ size: ['small', false, 'large'] }],
							['bold', 'italic', 'underline']
						]
					}
				}
			}
		},

		methods: {
			dateToString (date) {
				if (! (date instanceof Date)) {
					throw new Error('date passed must be an instance of Date')
				}
				return format(date, 'YYYY-MM-DD')
			},

			dateToObject (date) {
				if (! (date instanceof Date)) {
					throw new Error('date passed must be an instance of Date')
				}
				return { month: date.getMonth(), day: date.getDate(), year: date.getFullYear() }
			},

			objectToDate (date) {
				return new Date(date.year, date.month, date.day)
			},

			defaultDate () {
				return this.dateToObject(new Date);
			},

			addTreatment () {
				this.treatments.push('')
			},

			removeTreatment (index) {
				if (this.treatments.length === 1) {
					this.addTreatment()
				}
				this.treatments.splice(index, 1)
			},

			addVaccine () {
				this.vaccines.push({
					name: '',
					date: this.defaultDate()
				})
			},

			removeVaccine (index) {
				if (this.vaccines.length === 1) {
					this.addVaccine()
				}
				this.vaccines.splice(index, 1)
			},

			submit () {
				if (!this.loading) {
					this.loading = true
					this.mID ? this.update() : this.create()
				}
			},

			create () {
				MedicalRepository.create(this.formData).then(() => {
					this.loading = false

					this.$root.$refs.snackbar.show({
						message: 'Medical record created'
					})

					this.$router.push('/admin/pets/' + this.pID)
				}).catch((errors) => {
					this.loading = false
					this.handleValidationErrors(errors)
				})
			},

			update () {
				MedicalRepository.update(this.mID, this.formData).then(() => {
					this.loading = false

					this.$root.$refs.snackbar.show({
						message: 'Medical record updated'
					})

					this.$router.push('/admin/pets/' + this.pID)
				}).catch(() => {
					this.loading = false
				})
			},

				handleValidationErrors (errors) {
					let newErrors = {}
					Object.keys(errors).forEach(error => {
						set(newErrors, error, errors[error])
					})
					difference(Object.keys(this.errors), Object.keys(errors)).forEach(error => {
						set(newErrors, error, typeof this.errors[error] === 'string' ? '' : [])
					})
					Object.assign(this.errors, newErrors)
				}
		}
	}
</script>

<style lang="scss" scoped>
	#card-observation {
		height: 20rem;
		width: 100%;
		justify-content: flex-start;

		.mdc-card__supporting-text {
			flex: 1;
			display: flex;
			flex-direction: column;
		}
			.quill-editor {
				height: 100%;
				display: flex;
				flex-direction: column;

				::v-deep .ql-container {
					flex: 1;
					overflow-y: auto;
				}
			}
	}

	.mdc-card {
		margin-bottom: 1rem;
	}

	.checkboxes {
		display: flex;
		flex-wrap: wrap;

		.mdc-form-field {
			width: 33%;
		}
	}
</style>
