<template>
  <div v-if="ready" class="medicals">
    <h3 style="margin-top: 0;">Medical Records</h3>

    <div v-if="medicals.length === 0" class="empty">
      <span>No medical records</span>
    </div>

    <ul id="list-medicals" class="mdc-list mdc-list--two-line mdc-list--avatar-list" v-if="medicals.length > 0">
      <li
        is="record"
        v-for="(m,index) in medicals"
        :key="index"
        :aID="m.id.toString()"
        :author="getAuthorName(m.author)"
        avatar="/images/admin/avatar.jpg"
        :complaint="m.complaint"
        :date="new Date(m.date)" />
    </ul>

    <router-link :to="link" class="md-button md-fab">
      <md-icon>add</md-icon>
    </router-link>
  </div>
</template>

<script>
  import MedicalRepository from '../../repositories/Medical';
  import Record from './Record';

  export default {
    components: {
      Record
    },

    created () {
      let pet = this.$route.params.id;
      MedicalRepository.fetchByPet(pet).then(() => {
        this.ready = true
      })
    },

    data () {
      return {
        ready: false,
        MRepo: MedicalRepository
      }
    },

    computed: {
      medicals () {
        return this.MRepo.medicals
      },

      link () {
        return this.$route.path.replace(/\/?$/, '/medicals/create')
      }
    },

    methods: {
      getAuthorName (author) {
        return [author.firstname, author.middlename, author.lastname].join(' ');
      }
    }
  }
</script>

<style lang="scss" scoped>
  .empty {
    flex: 1;
    display:flex;
    align-items: center;
    justify-content: center;
  }

  .medicals {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }

  #list-medicals {
    background: #fff;
  }

  .mdc-fab {
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
  }
</style>
