<template>
  <li class="mdc-list-item record">
    <router-link :to="link" class="record__link">
      <img :src="avatar" :alt="author" class="mdc-list-item__start-detail">
      <div class="mdc-list-item__text">
        <div class="record__author" v-text="author"></div>
        <div class="mdc-list-item__text__secondary" v-text="complaint"></div>
      </div>
      <div class="mdc-list-item__end-detail record__time">
        <span v-text="parsedDate"></span>
      </div>
    </router-link>
  </li>
</template>

<script>
  import {format, isToday} from 'date-fns';

  export default {
    props: {
      aID: {
        required: true,
        type: String
      },
      avatar: {
        required: true,
        type: String
      },
      author: {
        required: true,
        type: String
      },
      complaint: {
        required: true,
        type: String
      },
      date: {
        required: true,
        type: Date
      }
    },

    computed: {
      link () {
        return this.$route.path.replace(/\/?$/, '/medicals/' + this.aID)
      },
      parsedDate () {
        if (isToday(this.date)) {
          return 'Today'
        }

        return format(this.date, 'MMM DD, YYYY')
      }
    }
  }
</script>


<style lang="scss">
  .record__link {
    cursor: pointer;
    color: inherit !important;
    text-decoration: none !important;
    display: flex;
    width: 100%;
  }
  .record__author {
    font-weight: 500;
  }
  .record__type {
    color: rgba(#000, 0.54);
    font-size: 14px;
  }
  .record__time {
    color: rgba(#000, 0.54);
    font-size: 14px;
    width: auto;
    height: auto;
    white-space: nowrap;
  }
</style>
