<template>
  <div class="treatment">
    <select class="mdc-select treatment__value" v-model="_value">
      <option value="">No treatment</option>
      <option v-for="t in treatments" :value="t.id" v-text="t.name"></option>
    </select>
    <div class="treatment__actions">
      <button type="button" class="remove button" @click="remove">
        <i class="fa fa-times"></i>
      </button>
      <button type="button" class="add button" @click="add">
        <i class="fa fa-plus"></i>
      </button>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      value: {
        required: true
      },
      treatments: {
        required: true,
        type: Array
      }
    },

    computed: {
      _value: {
        get () {
          return this.value
        },
        set (newVal) {
          this.$emit('input', newVal)
        }
      }
    },

    methods: {
      add () {
        this.$emit('add')
      },

      remove () {
        this.$emit('remove')
      }
    }
  }
</script>

<style lang="scss">
  .treatment {
    display: flex;
    margin-bottom: 1rem;

    &:last-child {
      .add {
        visibility: visible;  
      }
    }
  }
    .treatment__actions {
      align-self: center;
    }

  .add {
    visibility: hidden;
  }
</style>
