<template>
  <div class="mdc-form-field vaccine" :class="{ 'mdc-form-field--invalid': !!error }">
      <div class="mdc-textfield vaccine__name">
        <label class="form-label">Name</label>
        <input type="text" class="mdc-textfield__input" v-model="_name">
        <div class="form-error" v-text="error" style="margin-top: 8px;"></div>
      </div>

      <div class="vaccine__date">
        <label class="form-label">Next date</label>
        <datepicker v-model="_date"></datepicker>
      </div>

      <div class="vaccine__actions">
        <button type="button" class="remove button" @click="removeVaccine">
          <i class="fa fa-times"></i>
        </button>
        <button type="button" class="add button" @click="addVaccine">
          <i class="fa fa-plus"></i>
        </button>
      </div>
  </div>
</template>

<script>
  import Datepicker from '../components/Datepicker';

  export default {
    props: {
      name: {
        required: true,
        type: String
      },
      date: {
        required: true,
        type: Object
      },
      error: {

      }
    },

    components: {
      Datepicker
    },

    computed: {
      _name: {
        get () {
          return this.name
        },
        set (value) {
          this.$emit('input', Object.assign({}, {
            name: value,
            date: this.date
          }))
        }
      },

      _date: {
        get () {
          return this.date
        },
        set (value) {
          this.$emit('input', Object.assign({}, {
            name: this.name,
            date: value
          }))
        }
      }
    },

    methods: {
      addVaccine () {
        this.$emit('add')
      },

      removeVaccine () {
        this.$emit('remove')
      }
    }
  }
</script>

<style lang="scss">
  .vaccine {
    display: flex;
    flex-direction: row;
    // Add button should be visible on the last vaccine only
    &:last-of-type {
      .add {
        visibility: visible;
      }
    }
  }
    .vaccine__name {
      flex: 1;
      margin-right: 1rem;
    }
    .vaccine__actions {
      align-self: center;
    }

  .add {
    visibility: hidden;
  }
</style>
