<template>
  <div>
    <router-link to=".." replace class="mdc-button mdc-button--compact" style="margin-bottom: 1.5rem;">
      <span><i class="fa fa-arrow-left"></i> See all records</span>
    </router-link>
    <div class="mdc-card">
      <div class="mdc-card__primary">
        <h3 class="mdc-card__title mdc-card__title--large mdc-card__title-has-toggle">
          <span>Medical Record #{{ id }}</span>
          <div class="card-toggle mdc-menu-anchor">
            <button type="button" class="mdc-icon-toggle" @click="openMenu">
              <i class="fa fa-ellipsis-v"></i>
            </button>
            <m-simple-menu :dense="true" ref="menu">
              <li class="mdc-list-item" role="menuitem" tabindex="0">Edit</li>
              <li class="mdc-list-item" role="menuitem" tabindex="0">Delete</li>
            </m-simple-menu>
          </div>
        </h3>
      </div>

      <div class="mdc-card__supporting-text">
        <ul class="details">
          <li class="meta">
            <div class="meta__property">Report date</div>
            <div class="meta__content">{{ format(date) }}</div>
          </li>

          <li class="meta">
            <div class="meta__property">Created by</div>
            <div class="meta__content" v-text="authorName"></div>
          </li>
        </ul>
      </div>

      <div class="mdc-card__supporting-text mdc-card__supporting-text-secondary">
        <h4 class="title">Complaint</h4>
        <p v-text="complaint"></p>
      </div>

      <div class="mdc-card__supporting-text mdc-card__supporting-text-secondary">
        <h4 class="title">History</h4>
        <p v-text="history || 'No history' "></p>
      </div>

      <div class="mdc-card__supporting-text mdc-card__supporting-text-secondary">
        <h4 class="title">Observation</h4>
        <div v-html="observation"></div>
      </div>

      <div class="mdc-card__supporting-text mdc-card__supporting-text-secondary">
        <h4 class="title">Diagnosis</h4>
        <p v-text="diagnosis || 'No diagnosis' "></p>
      </div>

      <div class="mdc-card__supporting-text mdc-card__supporting-text-secondary">
        <h4 class="title">Procedures</h4>
        <p v-if="procedures.length ===0">No procedures</p>
        <ul class="mdc-list mdc-list--dense" id="list-procedures">
          <li v-for="p in procedures" class="mdc-list-item" v-text="p.name"></li>
        </ul>
      </div>

      <div class="mdc-card__supporting-text mdc-card__supporting-text-secondary">
        <h4 class="title">Treatments</h4>
        <p v-if="treatments.length ===0">No treatments</p>
        <ul class="mdc-list mdc-list--dense" id="list-treatments">
          <li v-for="t in treatments" class="mdc-list-item" v-text="t.name"></li>
        </ul>
      </div>

      <div class="mdc-card__supporting-text mdc-card__supporting-text-secondary">
        <h4 class="title">Vaccines</h4>
        <span v-if="vaccines.length === 0">No vaccines</span>
        <ul class="mdc-list mdc-list--dense mdc-list--two-line" id="list-vaccines">
          <li v-for="v in vaccines" class="mdc-list-item">
            <div class="mdc-list-item__text">
              <div v-text="v.name"></div>
              <div class="mdc-list-item__text__secondary">Next vaccine: {{ format(v.next) }}</div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <m-dialog
      surfaceSize="mini"
      ref="dialog"
      accept-text="Delete"
      cancel-text="Cancel"
      @accepted="_delete">Delete medical report?</m-dialog>
  </div>
</template>

<script>
  import {format} from 'date-fns';
  import MDialog from '../components/MDialog';
  import MSimpleMenu from '../components/MSimpleMenu';
  import {strings} from '@material/menu/simple/constants';
  import MedicalRepository from '../../repositories/Medical';

  export default {
    components: {
      MDialog,
      MSimpleMenu
    },

    beforeRouteEnter(to, from, next) {
      MedicalRepository.fetchById(to.params.mID).then((data) => {
        next(vm => {
          Object.keys(data).forEach(attr => {
            vm[attr] = data[attr]
          })
        });
      })
    },

    mounted () {
      this.$refs.menu.$on(strings.SELECTED_EVENT, this.onMenuSelect)
    },

    data () {
      return {
        id: '',
        date: '',
        complaint: '',
        history: '',
        observation: '',
        diagnosis: '',
        procedures: [],
        treatments: [],
        vaccines: [],
        pet: {
          id: '',
          name: ''
        },
        author: {
          name: ''
        }
      }
    },

    computed: {
      petLink () {
        return '/admin/pets/' + this.pet.id
      },

      authorName () {
        return [this.author.firstname, this.author.middlename, this.author.lastname].join(' ')
      }
    },

    methods: {
      format (date) {
        return format(date, 'MMM DD, YYYY')
      },

      openMenu () {
        this.$refs.menu.show()
      },

      onMenuSelect({ index }) {
        index === 0 ? this._edit() : this.confirm()
      },

      _edit () {
        let link = this.$route.path.replace(/\/?$/, '/edit')
        this.$router.push(link)
      },

      confirm () {
        this.$refs.dialog.open()
      },

      _delete () {
        MedicalRepository.remove(this.id).then(() => {
          this.$router.replace('..')
          this.$root.$refs.snackbar.show({
            message: 'Medical record deleted'
          })
        })
      }
    }
  }
</script>

<style lang="scss" scoped>
  .details {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .mdc-card__supporting-text {
    border-bottom: 1px solid rgba(#000, 0.12);
  }
    .title {
      font-size: 0.875rem;
      font-weight: 500;
      letter-spacing: 0.04em;
      line-height: 1.5rem;
      color: rgba(#000, 0.87);
      margin: 0;
    }

  #list-procedures, #list-treatments, #list-vaccines {
    padding-left: 0;
    padding-right: 0;

    .mdc-list-item {
      padding: 0 16px;
      border: 1px solid rgba(#000, 0.12);

      &:not(:first-child) {
        border-top: none;
      }
    }
  }
</style>
