<template>
  <li class="appointment" :class="statusClass">
    <div class="appointment__schedule">
      <div class="appointment__time" v-text="time"></div>
      <div class="appointment__status" @click="openStatusMenu">
        <div class="mdc-menu-anchor">
          <span v-text="status"></span> <i class="fa fa-caret-down"></i>
          <m-simple-menu :dense="true" ref="status">
            <li
              class="mdc-list-item"
              role="menuitem"
              tabindex="0"
              v-text="actions[0].label"></li>

            <li
              class="mdc-list-item"
              role="menuitem"
              :tabindex="cancelled ? -1 : 0"
              :aria-disabled="cancelled"
              v-text="actions[1].label"></li>
          </m-simple-menu>
        </div>
      </div>
    </div>
    <div class="appointment__details">
      <div class="appointment__title">
        <router-link
          :to="petLocation"
          class="appointment__client"
          v-text="pet"></router-link>
        <div type="button" class="appointment__toggle mdc-menu-anchor">
          <button type="button" class="mdc-icon-toggle" @click="openMenu">
            <i class="fa fa-ellipsis-v"></i>
          </button>
          <m-simple-menu :dense="true" ref="menu">
            <li class="mdc-list-item" role="menuitem" tabindex="0">Edit</li>
            <li class="mdc-list-item" role="menuitem" tabindex="0">Delete</li>
          </m-simple-menu>
        </div>
      </div>
      <div class="appointment__notes" v-text="notes"></div>
    </div>
  </li>
</template>

<script>
  import {strings} from '@material/menu/simple/constants';
  import MSimpleMenu from '../components/MSimpleMenu';
  import {Appointment} from '../../repositories/Appointment';
  import {MDCIconToggle} from '@material/icon-toggle';

  export default {
    props: {
      time: {
        required: true,
        type: String
      },
      notes: {
        required: true,
        type: String
      },
      pet: {
        required: true,
        type: String
      },
      petID: {
        required: true,
        type: [String, Number]
      },
      status: {
        required: true,
        type: String
      },
      aID: {
        required: true,
        type: [String, Number]
      }
    },

    components: {
      MSimpleMenu
    },

    computed: {
      statusClass () {
        return `appointment--${this.status}`
      },

      petLocation () {
        return `/admin/pets/${this.petID}`;
      },

      actions () {
        return [
          {
            label: this.completed || this.cancelled
              ? 'Scheduled'
              : 'Completed',
            status: this.completed || this.cancelled
              ? Appointment.statusScheduled
              : Appointment.statusCompleted
          },
          {
            label: 'Cancelled',
            status: Appointment.statusCancelled
          }
        ]
      },

      cancelled () {
        return this.status === Appointment.statusCancelled
      },

      completed () {
        return this.status === Appointment.statusCompleted
      }
    },

    mounted () {
      MDCIconToggle.attachTo(document.querySelector('.mdc-icon-toggle'))
      this.$refs.status.$on(strings.SELECTED_EVENT, this.onStatusSelect)
      this.$refs.menu.$on(strings.SELECTED_EVENT, this.onMenuSelect)
    },

    methods: {
      openMenu () {
        this.$refs.menu.show()
      },

      onMenuSelect ({ index }) {
        index === 0 ? this._edit() : this._delete()
      },

      openStatusMenu () {
        this.$refs.status.show()
      },

      onStatusSelect ({ index }) {
        this.changeStatus(this.actions[index].status)
      },

      changeStatus (status) {
        this.$emit('changeStatus', {
          status: status,
          id: this.aID
        })
      },

      _edit () {
        this.$emit('edit', { id: this.aID })
      },

      _delete () {
        this.$emit('delete', { id: this.aID })
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import '@material/elevation/mdc-elevation';
  @import '../../assets/admin/settings/variables';

  .appointment {
    display: flex;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    background-color: #fff;
    position: relative;
    color: var(--mdc-theme-text-primary-on-background);
    @include mdc-elevation(1);

    &:last-child {
      margin-bottom: 0;
    }
  }
    .appointment__schedule {
      flex: 0 0 auto;
      display: flex;
      flex-direction: column;
    }
      .appointment__time {
        font-size: 1.25rem;
        font-weight: 700;
        color: var(--mdc-theme-text-secondary-on-background);
      }
      .appointment__status {
        color: #2196F3;
        cursor: pointer;
        font-size: 0.75rem;
        line-height: 1.25rem;
        letter-spacing: .08em;
        text-transform: capitalize;
      }

    .appointment__details {
      flex: 1 0;
      min-width: 0;
      padding-left: 1rem;
    }
      .appointment__title {
        display: flex;
        align-items: center;
      }
        .appointment__client {
          font-size: 1.25rem;
          color: #42A5F5;
        }
        .appointment__toggle {
          margin-left: auto;

          .mdc-icon-toggle {
            --mdc-ripple-fg-size: 1.5rem !important;
            --mdc-ripple-top: 0 !important;
            --mdc-ripple-left: 0 !important;

            font-size: 1rem;
            height: 1.5rem;
            width: 1.5rem;
            padding: 0;
            outline: 0;
            border: 0;
            background: #fff;
          }
        }
      .appointment__notes {
        font-size: 0.75rem;
        line-height: 1.25rem;
        letter-spacing: 0.04em;
        color: var(--mdc-theme-text-secondary-on-background);
      }

  .appointment--cancelled {
    .appointment__status {
      color: $mdc-theme-secondary;
    }
  }

  .appointment--completed {
    .appointment__status {
      color: $mdc-theme-primary;
    }
  }
</style>
