<template>
  <m-dialog
    surfaceSize="medium"
    ref="dialog"
    :manual="true"
    :title="title"
    :accept-text="acceptText"
    cancel-text="Cancel"
    @accepted="submit"
    @canceled="close">
    <form @submit.prevent="submit" autocomplete="off">
      <div class="mdc-form-field" :class="{ 'mdc-form-field--invalid': errors.pet_id }">
        <label class="form-label">Pet Name</label>
        <auto-complete
          ref="autocomplete"
          :search="search"
          :error="errors.pet_id"
          :placeholder="pet.name"
          @selected="onSelected"></auto-complete>
      </div>

      <div class="mdc-form-field" :class="{ 'mdc-form-field--invalid': errors.notes }">
        <label class="form-label">Notes</label>
        <div class="mdc-textfield">
          <input
            type="text"
            class="mdc-textfield__input"
            v-model="notes">
        </div>
        <div class="form-error" v-text="errors.notes"></div>
      </div>

      <div class="mdc-form-field" :class="{ 'mdc-form-field--invalid': errors.time }">
        <label class="form-label">Time</label>
        <timepicker v-model="time"></timepicker>
        <div class="form-error" v-text="errors.time"></div>
      </div>

      <!-- Invisible button to allow submit on enter -->
      <button type="submit" style="display: none;"></button>
    </form>
  </m-dialog>
</template>

<script>
  import MDialog from '../components/MDialog';
  import Timepicker from '../components/Timepicker';
  import AutoComplete from '../components/AutoComplete';
  import {format} from 'date-fns';
  import PetRepository from '../../repositories/Pet';
  import AppointmentRepository from '../../repositories/Appointment';

  export default {
    props: {
      date: {
        required: true,
        type: Date
      }
    },

    components: {
      MDialog,
      AutoComplete,
      Timepicker
    },

    data () {
      return {
        id: null,
        edit: false,

        pet: { id: '', name: '' },
        
        time: this.getInitialTime(),
        
        notes: '',
        
        loading: false,
        
        errors: { pet_id: '', time: '', notes: '' }
      }
    },

    computed: {
      title () {
        return (this.edit ? 'Edit' : 'Create') + ' appointment for ' + format(this.date, 'MMMM DD, YYYY')
      },

      acceptText () {
        return this.edit ? 'Edit' : 'Create'
      },

      formData () {
        let {hour, minute, period} = this.time
        return {
          date: format(this.date, 'YYYY-MM-DD'),
          time: `${('0' + hour).substr(-2)}:${('0' + minute).substr(-2)} ${period}`,
          pet_id: this.pet.id,
          notes: this.notes
        }
      }
    },

    methods: {
      open () {
        this.$refs.dialog.open()
      },

      close () {
        this.$refs.dialog.close()
        this.$refs.autocomplete.clear()
        Object.assign(this.$data, this.$options.data.apply(this))
      },

      search (query) {
        return new Promise((resolve, reject) => {
          PetRepository.search(query).then(pets => {
            resolve(pets.map(pet => ({
              text: pet.name,
              value: pet.id
            })))
          }).catch(() => reject())
        })
      },

      onSelected ({ value, text }) {
        this.pet = { id: value, name: text }
      },

      submit () {
        if (!this.loading) {
          this.loading = true

          let action = this.edit
            ? AppointmentRepository.edit(this.id, this.formData)
            : AppointmentRepository.create(this.formData)

          action.then(this.onSubmitSuccess)
            .catch(this.onSubmitFail)
        }
      },

      onSubmitSuccess () {
        this.close()
      },

      onSubmitFail (errors) {
        this.loading = false
        this.setValidationErrors(errors)
      },

      setValidationErrors (errors) {
        for (let field in this.errors) {
          if (this.errors.hasOwnProperty(field)) {
            if (errors[field] === undefined) {
              this.errors[field] = ''
            } else {
              this.errors[field] = errors[field]
            }
          }
        }
      },

      getInitialTime () {
        let time = new Date()
        return {
          hour: format(time, 'hh'),
          minute: format(time, 'mm'),
          period: format(time, 'a')
        }
      }
    }
  }
</script>

<style scoped>
  .mdc-form-field--invalid .autocomplete {
    margin-bottom: 1rem;
  }
</style>
