<template>
  <div>
    <div class="calendar-wrapper">
      <calendar
        :month="month"
        :date="date"
        :year="year"
        :appointments="appointments"
        @nextMonth="nextMonth"
        @prevMonth="prevMonth"
        @dayClick="dayClick"></calendar>
    </div>
    <div class="appointments-wrapper">
      <div class="appointments">
        <div class="appointments__header">
          <div class="appointments__day">{{ format(dateObj, 'dddd') }}</div>
          <div class="appointments__date">{{ format(dateObj, 'Do MMMM') }}</div>
        </div>

        <div class="appointment__list-wrapper">
          <button
            type="button"
            class="mdc-fab"
            aria-label="Create appointment"
            @click="onCreate">
            <i class="fa fa-fw fa-plus"></i>
          </button>

          <div class="subheader">Appointments</div>
          <ul class="appointment__list" v-if="hasAppointmentsToday">
            <appointment
              v-for="(appointment,index) in appointmentsToday"
              :aID="appointment.id"
              :notes="appointment.notes"
              :time="appointment.start_time"
              :pet="appointment.pet.name"
              :petID="appointment.pet.id"
              :status="appointment.status"
              :key="index"
              @edit="onEdit"
              @delete="onDelete"
              @changeStatus="changeStatus"></appointment>
          </ul>
          <div class="empty-list" v-else >No appointments</div>
        </div>
      </div>
    </div>
    
    <appointment-form
      :date="dateObj"
      ref="dialogForm"></appointment-form>

    <m-dialog
      surfaceSize="mini"
      ref="dialogDelete"
      accept-text="Delete"
      cancel-text="Cancel"
      @accepted="_delete">Delete appointment?</m-dialog>
  </div>
</template>

<script>
  import Appointment from './Appointment';
  import Calendar from '../components/Calendar';
  import MDialog from '../components/MDialog';
  import AppointmentForm from './form';
  import AppointmentRepository from '../../repositories/Appointment';
  import {MDCRipple} from '@material/ripple';
  import {subMonths, addMonths, format, setDate, isSameDay, compareAsc} from 'date-fns';

  export default {
    components: {
      Calendar,
      Appointment,
      MDialog,
      AppointmentForm
    },

    beforeRouteEnter(to, from, next) {
      AppointmentRepository.fetch()
        .then(() => { next() })
    },

    data () {
      return {
        dateObj: new Date(),
        repository: AppointmentRepository
      }
    },

    mounted () {
      let fab = document.querySelector('.mdc-fab')
      fab.style.top = fab.offsetTop - (fab.offsetHeight / 2)  + 'px'
      MDCRipple.attachTo(fab)
    },

    computed: {
      month () {
        return Number(this.dateObj.getMonth())
      },

      date () {
        return Number(this.dateObj.getDate())
      },

      year () {
        return Number(this.dateObj.getFullYear())
      },

      appointments () {
        return this.repository.appointments
      },

      appointmentsToday () {
        return this.appointments
          .filter(a => isSameDay(new Date(a.date), this.dateObj))
          .sort((a,b) => {
            return compareAsc(new Date(a.date), new Date(b.date))
          })
      },

      hasAppointmentsToday () {
        return this.appointmentsToday.length > 0
      }
    },

    methods: {
      format (obj, f) {
        return format(obj, f)
      },

      prevMonth () {
        AppointmentRepository.fetch(this.month - 1).then(() => {
          this.dateObj = subMonths(this.dateObj, 1)
        })
      },

      nextMonth () {
        AppointmentRepository.fetch(this.month + 1).then(() => {
          this.dateObj = addMonths(this.dateObj, 1)
        })
      },

      dayClick (date) {
        this.dateObj = setDate(this.dateObj, date)
      },

      changeStatus ({ id, status }) {
        AppointmentRepository.changeStatus(id, status)
      },

      onCreate () {
        this.openDialogForm()
      },

      onEdit ({ id }) {
        let dialog = this.$refs.dialogForm
        let appointment = this.appointments.find(appt => appt.id === id)
        
        dialog.id = id
        dialog.edit = true
        dialog.notes = appointment.notes
        dialog.pet = appointment.pet
        dialog.time = {
          hour: format(appointment.date, 'hh'),
          minute: format(appointment.date, 'mm'),
          period: format(appointment.date, 'a')
        }

        this.openDialogForm()
      },

      onDelete ({ id }) {
        this.deleteID = id;
        this.openDialogDelete();
      },

      openDialogForm () {
        this.$refs.dialogForm.open();
      },

      openDialogDelete () {
        this.$refs.dialogDelete.open();
      },

      _delete () {
        AppointmentRepository.remove(this.deleteID).then(() => {
          this.$root.$refs.snackbar.show({ message: 'Appointment deleted' });
        })
      },
    }
  }
</script>

<style lang="scss" scoped>
  @import '../../assets/admin/settings/variables';
  @import '../../assets/globals/breakpoints';

  #app-main {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .calendar-wrapper {
    background-color: #fff;
  }

  .appointments-wrapper {
    flex: 1;
  }
    .appointments {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
      .appointments__header {
        padding: 2rem;
        color: var(--mdc-theme-text-primary-on-primary);
        background-size: cover;
        background-color: $mdc-theme-primary-dark;
        background-image: url('/images/admin/page-cover.png');
      }
        .appointments__day {
          font-size: 2.125rem;
          line-height: 2.5rem;
        }
        .appointments__date {
          font-size: .938rem; /* 15sp */
          line-height: 1.5rem;
        }

      .appointment__list-wrapper {
        flex: 1;
        overflow-y: auto;
        color: var(--mdc-theme-text-primary-on-background);
      }
        .mdc-fab {
          position: absolute;
          right: 1rem;
          z-index: 5;
        }
        .subheader {
          font-size: 14px;
          font-weight: 500;
          height: 48px;
          line-height: 48px;
          padding: 0 1rem;
          color: var(--mdc-theme-text-primary-on-background);
        }
        .empty-list {
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: calc(100% - 48px);
          text-align: center;
          color: var(--mdc-theme-text-hint-on-background);
        }
        .appointment__list {
          list-style: none;
          padding: 0 1rem 1.5rem;
          margin: 0;
        }

  @include large-screen {
    #app-main {
      flex-direction: row;
    }

    .appointments-wrapper {
      width: 45%;
    }

    .calendar-wrapper {
      width: 55%;
      display: flex;
    
      .calendar__header {
        padding: 1.5rem 0;
      }
    }
  }

</style>
