<template>
  <form @submit.prevent="validate">
    <md-card>
      <md-card-header>
        <h2 class="md-title">Contact Us</h2>
      </md-card-header>
      <md-card-content>
        <div class="flex">
          <md-input-container
            :class="{ 'md-input-invalid': errors.name }"
            style="width: 50%; margin-right: 1.5rem;">
            <label>Full Name</label>
            <md-input v-model="name" />
            <span class="md-error" v-text="errors.name" />
          </md-input-container>

          <md-input-container
            :class="{ 'md-input-invalid': errors.phone }"
            style="width: 50%;">
            <label>Phone Number</label>
            <md-input v-model="phone" />
            <span class="md-error" v-text="errors.phone" />
          </md-input-container>
        </div>

        <md-input-container :class="{ 'md-input-invalid': errors.message }">
          <label>Message</label>
          <md-textarea v-model="message" />
          <span class="md-error" v-text="errors.message" />
        </md-input-container>

        <div
          id="recaptcha"
          style="overflow: hidden; padding: 5px; margin: -5px; float: right;" />
      </md-card-content>

      <md-card-actions>
        <md-button
          type="submit"
          :disabled="loading"
          class="md-primary">Submit</md-button>
      </md-card-actions>
    </md-card>

    <md-snackbar ref="snackbar" @close="snackbarText = ''">
      <span v-text="snackbarText" />
    </md-snackbar>
  </form>
</template>

<script>
  import omit from 'lodash/omit';

  export default {
    mounted() {
      let interval = setInterval(() => {
        if (typeof grecaptcha !== 'undefined') {
          // stop polling after grecaptcha has loaded
          clearInterval(interval)

          this.grecaptchaId = grecaptcha.render('recaptcha', {
            badge: 'inline',
            size: 'invisible',
            sitekey: '6LdxmzUUAAAAANbdfUkUb245Eo_Lgi8Y9L8Z2LS4',
            callback: this.submit
          })
        }
      }, 100)
    },

    data() {
      return {
        name: '',
        phone: '',
        message: '',
        loading: false,
        snackbarText: '',
        grecaptchaId: '',

        errors: {
          name: '',
          phone: '',
          message: ''
        }
      }
    },

    methods: {
      validate() {
        grecaptcha.execute()
      },

      submit(recaptcha) {
        if (! this.loading) {
          this.loading = true

          let data = {
            name: this.name,
            phone: this.phone,
            message: this.message,
            'g-recaptcha-response': recaptcha
          }

          this.$http.post('/api/v1/contact', data).then(() => {
            // Reset everything except for recaptcha id
            Object.assign(this.$data, omit(this.$options.data(), ['grecaptchaId']))

            this.snackbarText = 'Your message has been sent to the veterinarians.';
            this.$refs.snackbar.open()
          }).catch(({ response }) => {
            this.loading = false

            if (response.status === 422) {
              Object.assign(this.errors, response.data)
            } else {
              this.snackbarText = 'Contact form is not working right now.'
              this.$refs.snackbar.open()
            }
          })

          grecaptcha.reset(this.grecaptchaId)
        }
      }
    }
  }
</script>
