<template>
  <div style="display: flex;">
    <div id="customers" style="width: 30%;">
      <md-progress v-if="loading" md-indeterminate />
      <div class="customers__search">
        <md-input-container md-inline>
          <md-icon>search</md-icon>
          <label>Search customers</label>
          <md-input v-model="query" />
        </md-input-container>
      </div>
      <md-tabs md-fixed @change="onFilterChange">
        <md-tab md-label="Active" />
        <md-tab md-label="Archive"/>
      </md-tabs>
      <md-list class="md-double-line customers__list">
        <md-list-item v-if="customers.length === 0">
          <div class="md-list-text-container" style="text-align: center;">No customers</div>
        </md-list-item>
        <md-list-item
          v-else
          v-for="customer in customers"
          :key="customer.id">
          <router-link :to="{ name: 'customer', params: { id: customer.id } }">
            <div class="md-list-text-container">
              <div v-text="getFullname(customer)"></div>
              <div v-text="customer.phones[0]"></div>
            </div>
          </router-link>
        </md-list-item>
      </md-list>
    </div>
    <div id="customer">
      <div class="customer__view">
        <md-whiteframe mdc-elevation="2">
          <router-view></router-view>
        </md-whiteframe>
      </div>
    </div>

    <router-link
      to="/admin/customers/create"
      class="md-button md-fab"
      :class="`md-theme-${$material.currentTheme}`">
      <md-icon>add</md-icon>
      <md-ink-ripple />
    </router-link>
  </div>
</template>

<script>
  import debounce from 'lodash/debounce';
  import CustomerRepository from '../repositories/Customer';

  export default {
    data () {
      return {
        query: '',
        loading: false,
        archived: false,
        repository: CustomerRepository
      }
    },

    computed: {
      customers () {
        return this.repository.customers
      }
    },

    methods: {
      getFullname (customer) {
        return `${customer.firstname} ${customer.middlename} ${customer.lastname}`;
      },
      onFilterChange (index) {
        this.loading = true
        this.archived = index === 1

        if (index) {
          CustomerRepository.getArchived()
        } else {
          CustomerRepository.getActive()
        }
      }
    },
    watch: {
      // Assume customer fetching is done
      // since it changed
      customers: {
        handler: function () {
          this.loading = false
        },
        deep: true
      },

      query: debounce(function () {
        this.loading = true

        if (! this.query) {
          this.archived
            ? CustomerRepository.getArchived()
            : CustomerRepository.getActive()
        } else {
          CustomerRepository.search(this.query, this.archived)
        }
      }, 300)
    }
  }
</script>

<style lang="scss" scoped>
  #app-main {
    padding: 0;
  }

  #customers {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgba(#000, 0.12);
    position: relative;
  }
    .customers__search {
      padding: 0.5rem 1rem 0;
    }

    .customers__list {
      height: 100%;
      overflow-y: auto;
    }
  #customer {
    width: 70%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 0;
    background: #FAFAFA;
  }
    .customer__view {
      width: 75%;
      background-color: #FFFFFF;
    }
</style>
