<template>
  <div>
    <md-card class="inquiries">
      <md-card-header>
        <h2 class="md-title">Inquiries</h2>
      </md-card-header>

      <md-card-content>
        <div v-if="inquiries.length ===0" style="text-align: center;">No inquiries</div>
        <md-list v-else class="md-triple-line">
          <md-list-item v-for="inquiry in inquiries" :key="inquiry.id">
            <div class="md-list-text-container">
              <span v-text="inquiry.name" />
              <span v-text="inquiry.phone" />
              <p v-text="inquiry.message" />
            </div>
          </md-list-item>
        </md-list>
      </md-card-content>
    </md-card>

    <md-card class="sms">
      <md-card-header>
        <h2 class="md-title">SMS</h2>
      </md-card-header>

      <md-card-content>
        <md-list class="md-double-line">
          <md-list-item>
            <div class="md-list-text-container">
              <span>Account Balance</span>
              <span>${{ balance }}</span>
            </div>
          </md-list-item>

          <md-list-item>
            <div class="md-list-text-container">
              <span>Total sent (Monthly)</span>
              <span>{{ totalSent }}</span>
            </div>
          </md-list-item>
        </md-list>

        <md-card-actions>
          <md-button
            target="_blank"
            class="md-raised md-primary"
            href="https://dashboard.clicksend.com/#/account/billing-recharge/top-up-account">Top-up</md-button>
        </md-card-actions>
      </md-card-content>
    </md-card>
  </div>
</template>

<script>
  import axios from 'axios';
  import { format } from 'date-fns';

  export default {
    beforeRouteEnter(to, from, next) {
      let account = axios.get('/api/v1/sms/account')
      let statistics = axios.get('/api/v1/sms/statistics')
      let inquiries = axios.get('/api/v1/inquiries')

      axios.all([account, statistics, inquiries])
        .then(axios.spread(function (
          { data: account },
          { data: statistics },
          { data: inquiries }) {
          next(vm => {
            vm.balance = parseFloat(account.balance).toFixed(2)
            vm.totalSent = statistics.total.outbound.count,
            vm.inquiries = inquiries
          })
        }))
    },

    data () {
      return {
        balance: '',
        totalSent: '',
        inquiries: []
      }
    }
  }
</script>

<style lang="scss" scoped>
  #app-main {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(3, 1fr);

  /** .md-card **/
    & > div {
      height: 20rem;
    }
  }

  .md-card-content {
    flex: 1;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;

    .md-list {
      flex: 1;
      overflow-y: auto;
    }
  }
</style>
