<template>
  <div id="app">
    <nprogress-container></nprogress-container>
    <Navbar :fullname="fullname"></Navbar>
    <AppMain></AppMain>
    <m-snackbar ref="snackbar"></m-snackbar>
  </div>
</template>

<script>
  import NprogressContainer from 'vue-nprogress/src/NprogressContainer'
  import Navbar from './components/layout/Navbar'
  import AppMain from './components/layout/AppMain'
  import MSnackbar from './views/components/MSnackbar'

  export default {
    components: {
      Navbar,
      AppMain,
      MSnackbar,
      NprogressContainer
    },

    beforeMount() {
      this.$http.get('/api/v1/auth/user').then(({ data }) => {
        this.fullname = data.firstname + ' ' + data.lastname
      })
    },

    mounted () {
      Object.assign(this.$root.$refs, this.$refs)
    },

    data() {
      return {
        fullname: ''
      }
    }
  }
</script>
