<template>
  <main class="container">
    <div class="content">
      <div class="mdc-card" id="card-login">
        <form action="/admin/login" method="POST" class="form" @submit.prevent="submit" autocomplete="off">
          <section class="mdc-card__primary">
            <img class="logo" src="/images/logo.png" alt="">
          </section>

          <section class="mdc-card__supporting-text">
            <div class="mdc-form-field" :class="{ 'mdc-form-field--invalid': errors.username }">
              <label class="form-label" for="user">Username</label>
              <div class="mdc-textfield">
                <input v-model="username" type="text" class="mdc-textfield__input" id="user">
              </div>
              <div class="form-error" v-text="errors.username"></div>
            </div>

            <div class="mdc-form-field" :class="{ 'mdc-form-field--invalid': errors.password }">
              <label class="form-label" for="pw">Password</label>
              <div class="mdc-textfield">
                <input v-model="password" type="password" class="mdc-textfield__input" id="pw">
              </div>
              <div class="form-error" v-text="errors.password"></div>
            </div>

            <div class="form-error" v-text="error"></div>
          </section><!-- /.mdc-card__supporting-text -->

          <section class="mdc-card__actions">
            <button type="submit" class="mdc-button mdc-button--raised mdc-button--primary">
              <span :class="loginClass" v-text="loginText"></span>
            </button>
          </section>
        </form>
      </div><!-- /.mdc-card -->
    </div><!-- /.content -->
    <div class="overlay"></div>
  </main>
</template>

<script>
  import MTextFieldHelp from './views/components/MTextFieldHelp';

  export default {
    components: {
      MTextFieldHelp
    },

    data () {
      return {
        username: '',
        password: '',

        // General error
        error: '',

        // Input errors
        errors: {
          username: null,
          password: null
        },

        loading: false
      }
    },

    computed: {
      loginClass () {
        return this.loading ? 'fa fa-circle-o-notch fa-spin' : ''
      },

      loginText () {
        return this.loading ? '' : 'Login'
      }
    },

    methods: {
      submit() {
        if (!this.loading) {
          this.loading = true
          this.postData().then((res) => {
            localStorage.setItem('token', res.data.token)
            window.location.replace(res.data.path)
          }).catch(({ response }) => {
            let {status, data: errors} = response

            if (status === 401) {
              this.error = errors
              this.errors.username = ''
              this.errors.password = ''
            }

            if (status === 422) {
              this.error = ''
              this.errors.username = errors.username || ''
              this.errors.password = errors.password || ''
            }

            this.loading = false
          })
        }
      },

      postData() {
        return this.$http.post('/admin/login', {
          username: this.username,
          password: this.password
        })
      }
    }
  }
</script>

<style lang="scss" scoped>
  .container {
    background-size: cover;
    background-position: center center;
    background-image: url("/images/admin/login.jpg");
    height: 100%;
  }

  .overlay {
    background-color: rgba(17, 34, 51, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }

  .content {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    z-index: 3;
  }

  #card-login {
    border: 0;
    box-shadow: none;
    width: 25em;
    background: #fff;
    margin: 0 auto;

    .mdc-card__primary {
      text-align: center;
    }
      .logo {
        height: auto;
        max-width: 60%;
      }
    .mdc-card__supporting-text {
      padding: 1rem;
    }
      .mdc-form-field {
        & > label {
          padding: 0;
        }
      }
    .mdc-card__actions {
      justify-content: flex-end;
    }
  }
</style>
