<template>
	<form v-on:submit.prevent="submit">
			<section class="mdc-card__supporting-text">
				<div class="fields">
					<md-input-container :class="{ 'md-input-invalid': errors.firstname}">
						<label>First Name</label>
						<md-input v-model="inputs.firstname" />
						<span class="md-error" v-text="errors.firstname" />
					</md-input-container>

					<md-input-container :class="{ 'md-input-invalid': errors.middlename}">
						<label>Middle Name</label>
						<md-input v-model="inputs.middlename" />					
						<span class="md-error" v-text="errors.middlename" />
					</md-input-container>

					<md-input-container :class="{ 'md-input-invalid': errors.lastname}">
						<label>Last Name</label>
						<md-input v-model="inputs.lastname" />					
						<span class="md-error" v-text="errors.lastname" />
					</md-input-container>
				</div>

				<md-input-container
					v-for="(phone,index) in inputs.phones"
					:key="index"
					:class="{ 'md-input-invalid': errors.phones && errors.phones[index] }">
					<label>{{ index === 0 ? 'Phone (main)' : 'Phone ' + index + 1 }}</label>

					<md-input v-model="inputs.phones[index]" />

					<md-button class="md-icon-button" @click="addPhone(index)">
						<md-icon>add</md-icon>
					</md-button>

					<md-button class="md-icon-button" @click="removePhone(index)">
						<md-icon>clear</md-icon>
					</md-button>

					<span
						class="md-error"
						v-if="errors.phones && errors.phones[index]"
						v-text="errors.phones[index]" />
				</md-input-container>


				<md-input-container :class="{ 'md-input-invalid': errors.street}">
					<label>Street Address</label>
					<md-input v-model="inputs.street" />					
					<span class="md-error" v-text="errors.street" />
				</md-input-container>

				<md-input-container :class="{ 'md-input-invalid': errors.barangay}">
					<label>Barangay</label>
					<md-select name="barangay" v-model="inputs.barangay_id">
						<md-option
							v-for="barangay in barangays"
							:key="barangay.brgyCode"
							:value="barangay.brgyCode.toString()">{{ barangay.brgyDesc }}</md-option>
					</md-select>
					<span class="md-error" v-text="errors.barangay" />
				</md-input-container>
			</section>

			<section class="actions">
				<router-link class="md-button cancel" :to="{ name: 'customers' }" active-class="">
					<span>Cancel</span>
				</router-link>
				<md-button
					class="md-raised md-primary"
					:disabled="loading"
					type="submit">Save</md-button>
			</section>
	</form>
</template>
		
<script>
	import axios from 'axios';
	import CustomerRepository, {transform} from '../../repositories/Customer';
	import MTextFieldHelp from '../components/MTextFieldHelp';

	export default {
		components: {
			MTextFieldHelp
		},

		beforeRouteEnter: function(to, from, next) {
			axios.all([
				// Hard-coded unless requested to expand outside Angeles City
				axios.get('/api/v1/cities/35401/barangays'),
				(to.params.id) ? CustomerRepository.find(to.params.id) : null
			])
			.then( axios.spread((barangays, customer) => {
					next( vm => {
						vm.barangays = barangays.data

						if (customer) {
							vm.inputs = transform(customer)
						}
					})
				})
			)
			.catch(() => {
				next(false)
			})
		},

		data() {
			return {
				loading: false,

				barangays: [],

				inputs: {
					firstname: '',
					middlename: '',
					lastname: '',
					phones: [''],
					street: '',
					barangay_id: '35401001' // Anunas
				},

				errors: {
					firstname: null,
					middlename: null,
					lastname: null,
					phones: [],
					street: null,
					barangay_id: null
				}
			}
		},

		computed: {
			create () {
				return !this.$route.params.id
			}
		},

		methods: {
			addPhone (index) {
				this.inputs.phones.splice(index + 1, 0, '')
			},

			removePhone (index) {
				this.inputs.phones.splice(index, 1)

				if (this.inputs.phones.length === 0) {
					this.addPhone(0)
				}
			},

			submit: function() {
				if (!this.loading) {
					this.loading = true
					this.$route.params.id ? this.update() : this.store()
				}
			},

			store () {
				CustomerRepository.create(this.inputs).then(() => {
					this.$router.push({ name: 'customers' })
					this.$root.$refs.snackbar.show({ message: 'Customer record created'})
				}).catch(({ status, errors }) => {
					this.loading = false
					if (status === 422) {
						this.errors = errors
					}
				})
			},

			update () {
				CustomerRepository.update(this.$route.params.id, this.inputs).then(() => {
					this.$router.push({ name: 'customer', params: { id: this.$route.params.id } })
					this.$root.$refs.snackbar.show({ message: 'Customer record updated'})
				}).catch(({ status, errors }) => {
					this.loading = false
					if (status === 422) {
						this.errors = errors
					}
				})
			}
		}
	}
</script>

<style scoped lang="scss">
	.md-fab {
		display: none;
	} 
	.fields {
		display: flex;

		.md-input-container:not(:last-child) {
			margin-right: 1rem;
		}
	}

	.actions {
		text-align: right;
	}
</style>
