<template>
  <md-dialog
    :md-open-from="location"
    :md-close-to="location"
    @close="reset"
    ref="dialog">
    <md-dialog-title v-text="title"></md-dialog-title>

    <md-dialog-content>
      <p v-text="message"></p>
    </md-dialog-content>

    <md-dialog-actions>
      <md-button @click="close">Cancel</md-button>
      <md-button
        class="md-primary"
        @click="submit"
        :disabled="loading"
        v-text="action" />
    </md-dialog-actions>
  </md-dialog>
</template>

<script>
  import EventBus from '../EventBus';
  import CustomerRepository from '../../repositories/Customer';

  export default {
    mounted () {
      EventBus.$on('archive-customer', this.archive)
      EventBus.$on('delete-customer', this.delete)
    },

    data () {
      return {
        customer: {},
        location: '',
        permanent: false,
        loading: false,
      }
    },

    computed: {
      action () {
        return this.permanent ? 'Delete' : 'Archive'
      },

      title () {
        return `${this.action} Customer`
      },

      message () {
        return `${this.action} ${this.customer.name}?`
      }
    },

    methods: {
      archive(customer, location) {
        this.customer = customer
        this.location = location
        this.permanent = false

        this.$nextTick(() => {
          this.open()
        })
      },

      delete(customer, location) {
        this.customer = customer
        this.location = location
        this.permanent = true

        this.$nextTick(() => {
          this.open()
        })
      },

      open () {
        this.$refs.dialog.open()
      },

      close () {
        this.$refs.dialog.close()
      },

      submit () {
        let method = this.permanent ? 'delete' : 'archive';
        CustomerRepository[method](this.customer.id)
          .then(this.onSubmitSuccess)
      },

      onSubmitSuccess () {
        this.close()
        this.$emit(this.permanent ? 'deleted' : 'archived')
        this.$root.$refs.snackbar.show({
          message: 'Record ' + (this.permanent ? 'deleted' : 'archived')
        })
      },

      reset () {
        Object.assign(this.$data, this.$options.data)
      }
    }
  }
</script>
