<template>
  <md-dialog
    :md-open-from="location"
    :md-close-to="location"
    @close="reset"
    ref="dialog">
    <md-dialog-title>Restore Customer</md-dialog-title>

    <md-dialog-content>
      <p v-text="message"></p>
    </md-dialog-content>

    <md-dialog-actions>
      <md-button @click="close">Cancel</md-button>
      <md-button class="md-primary" @click="submit" :disabled="loading">Restore</md-button>
    </md-dialog-actions>
  </md-dialog>
</template>

<script>
  import EventBus from '../EventBus';
  import { transform } from '../../repositories/Customer';
  import CustomerRepository from '../../repositories/Customer';

  export default {
    mounted () {
      EventBus.$on('restore-customer', this.restore)
    },

    data () {
      return {
        customer: {},
        location: '',
        loading: false,
      }
    },

    computed: {
      message () {
        return `Restore "${this.customer.name}" ?`
      }
    },

    methods: {
      restore(customer, location) {
        this.customer = customer
        this.location = location

        this.$nextTick(() => {
          this.open()
        })
      },

      open () {
        this.$refs.dialog.open()
      },

      close () {
        this.$refs.dialog.close()
      },

      submit () {
        let data = transform(this.customer, { deleted_at: null })
        CustomerRepository.update(this.customer.id, data)
          .then(this.onSubmitSuccess)
      },

      onSubmitSuccess () {
        this.close()
        this.$emit('restored')
        this.$root.$refs.snackbar.show({
          message: 'Record restored'
        })
      },

      reset () {
        Object.assign(this.$data, this.$options.data)
      }
    }
  }
</script>
