<template>
  <div>
    <div class="profile">
      <div class="profile__actions">
        <router-link
          v-if="!customer.archived"
          :to="{ name: 'customer-edit', params: { id: this.id } }"
          class="md-button md-icon-button">
          <md-icon>edit</md-icon>
        </router-link>

        <md-button
          @click="wantsArchive"
          v-if="!customer.archived"
          class="md-icon-button btn-archive">
          <md-icon>archive</md-icon>
        </md-button>

        <md-button
          @click="wantsRestore"
          v-if="customer.archived"
          class="md-icon-button btn-restore">
          <md-icon>restore</md-icon>
        </md-button>

        <md-menu md-direction="bottom left">
          <md-button md-menu-trigger class="md-icon-button">
            <md-icon>more_vert</md-icon>
          </md-button>

          <md-menu-content>
            <md-menu-item @selected="wantsDelete">Delete</md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>
      <div class="profile__cover"></div>

      <img class="profile__image" src="/images/customers/sample.jpg" />

      <h2 class="profile__name" v-text="fullname" />

      <md-list class="profile__info-list">
        <md-list-item>
          <md-icon>home</md-icon>
          <div class="md-list-text-container">
            <address>
              {{ customer.address.street }}<br>
              {{ customer.address.barangay }}, Angeles City<br>
              Pampanga
            </address>
          </div>
        </md-list-item>

        <md-list-item
          v-for="(phone,index) in customer.phones"
          :key="phone"
          :class="{ 'md-inset': index > 0 }">
          <md-icon v-if="index === 0">phone</md-icon>
          <div class="md-list-text-container">
            <span v-text="phone" />
          </div>
        </md-list-item>
      </md-list>

      <md-subheader>Pets</md-subheader>
      <div class="mdc-grid-list profile__pets">
        <ul class="mdc-grid-list__tiles">
          <li class="mdc-grid-tile create-pet">
            <md-card role="button" @click.native="wantsCreate">
              <div><md-icon>add</md-icon></div>
              <div>Create pet</div>
            </md-card>
          </li>
          <li class="mdc-grid-tile"
            v-for="pet in customer.pets"
            :key="pet.id" >
            <router-link :to="{ name: 'pet', params: { id: pet.id } }">
              <div class="mdc-grid-tile__primary">
                <img class="mdc-grid-tile__primary-content" :src="pet.image">
              </div>
              <span class="mdc-grid-tile__secondary">
                <span class="mdc-grid-tile__title" v-text="pet.name" />
              </span>
            </router-link>
          </li>
        </ul>
      </div>
    </div>
    <customer-delete @deleted="deleted" @archived="archived" />
    <customer-restore @restored="restored" />
    <pet-create @created="petCreated" />
  </div>
</template>

<script>
  import EventBus from '../EventBus';
  import CustomerRepository from '../../repositories/Customer';
  import PetCreate from '../pets/create';
  import CustomerDelete from './delete';
  import CustomerRestore from './restore';

  export default {
    props: ['id'],

    components: {
      CustomerRestore,
      CustomerDelete,
      PetCreate
    },

    beforeRouteEnter (to, from, next) {
      CustomerRepository.find(Number(to.params.id))
        .then(customer => {
          next(vm => {
            vm.customer = customer
          })
        })
    },

    beforeRouteUpdate (to, from, next) {
      CustomerRepository.find(to.params.id)
        .then(customer => {
          this.customer = customer
          next()
        })
    },

    data() {
      return {
        customer: {
          firstname: '',
          middlename: '',
          lastname: '',

          address: {
            street: '',
            barangay: ''
          },

          phones: [],
          pets: []
        },
        loading: true
      }
    },

    computed: {
      fullname () {
        return `${this.customer.firstname} ${this.customer.middlename} ${this.customer.lastname}`
      },

      pets () {
        return this.customer.pets
      },

      hasPets: function() {
        return this.pets.length > 0
      }
    },

    methods: {
      wantsCreate () {
        let location = '.create-pet'
        EventBus.$emit('create-pet', this.id, location)
      },

      petCreated (pet) {
        this.customer.pets.push(pet)
      },

      wantsArchive () {
        let customer = { id: this.id, name: this.fullname }
        let location = '.btn-archive'
        EventBus.$emit('archive-customer', customer, location)
      },

      archived () {
        this.customer.archived = true
      },

      wantsDelete () {
        let customer = { id: this.id, name: this.fullname }
        let location = '.btn-delete'
        EventBus.$emit('delete-customer', customer, location)
      },

      deleted () {
        this.$router.push({ name: 'customers' })
      },

      wantsRestore () {
        let customer = Object.assign({}, this.customer, { name: this.fullname })
        let location = '.btn-restore'
        EventBus.$emit('restore-customer', customer, location)
      },

      restored () {
        this.customer.archived = false
        let index = CustomerRepository.customers.findIndex(c => {
          return c.id === this.customer.id
        })
        CustomerRepository.customers.splice(index, 1)
      }
    }
  }
</script>

<style scoped lang="scss">
  @import '../../assets/admin/settings/variables';

    .profile {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
    }
      .profile__actions {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0.5rem;
        color: #fff;
      }
      .profile__cover {
        height: 10rem;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: $mdc-theme-primary-dark;
        background-image: url('/images/admin/page-cover.png');
      }
      .profile__image {
        width: 120px;
        height: 120px;
        margin-top: -60px;
        border-radius: 50%;
        margin-left: auto;
        margin-right: auto;
      }
      .profile__name {
        margin-left: auto;
        margin-right: auto;
      }
      .profile__info-list {
        margin: 0 auto;

        address {
          font-style: normal;
          line-height: 1.5;
        }
      }

      .profile__pets {
        padding: 0 1rem 0.5rem;
      }
      .profile__pets .mdc-grid-tile {
        --mdc-grid-list-tile-width: 33.33%;
        padding: 0 8px;
        margin: 8px 0;
      }
        .profile__pets .mdc-grid-tile__secondary {
          left: 8px;
          width: calc(100% - 16px);
        }

  .create-pet {
    width: 33.33%;
    display: flex;
    cursor: pointer;

    &::before {
      content: "";
      float: left;
      padding-bottom: 100%;
    }

    &::after {
      clear: left;
      content: "";
      display: table;
    }

    .md-card {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    button {
      border: 0;
      background: transparent;
    }
  }
</style>
